<div class="front">    
    <div class="main-wrapper">
        
        <!-- =========================
             PRELOADER
        ============================== -->
        <div class="preloader">
            <div class="loader-container">
                <div class="text-logo">Service Pay</div>
                <div class="signal"></div>
            </div>
        </div> 
        

        <!-- =========================
             HEADER
        ============================== -->
        <header class="header" id="top" data-stellar-background-ratio="0.5">
            <!-- Background Overlay -->
            <div class="overlay">

                <!-- =========================================
                     Navigation
                ========================================== -->
                <nav class="navbar navbar-fixed-top" role="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Navbar-Header -->
                                <div class="navbar-header">
                                    
                                    <!-- Mobile Menu -->
                                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                        <i class="icon icon_menu"></i>
                                    </button>

                                    <!-- Text-Logo 
                                    <a href="#top" class="navbar-brand scrollto" title="SmartMvp">
                                        <span class="text-logo">SmartMvp</span>
                                    </a> -->

                                    <!-- Image-Logo: Remove this comments and the section above Text-Logo if you want to add an Image-Logo (recommended sizes -> max-height:50, max-width:200)  -->

                                    <a href="#top" class="navbar-brand img-logo scrollto" title="SmartMvp">
                                        <%= image_tag("logo.png", class: "normal-logo logo-white") %>
                                    </a> 
                                   

                                </div><!-- /End Navbar-Header -->

                                <!-- Navbar-Collapse -->
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <!-- Menu Items -->
                                        <li><a href="#about" title="" class="scrollto">About</a></li>
                                        <li><a href="#features" title="" class="scrollto">Features</a></li>
                                        <li><a href="#pricing" title="" class="scrollto">Pricing</a></li>
                                        <li><a href="#testimonials" title="" class="scrollto">Testimonials</a></li>
                                        <li><a href="#team" title="" class="scrollto">Team</a></li>
                                        <li><a href="#mobile-download" title="" class="scrollto">Mobile</a></li>
                                        <!-- Login and Signup Modal on click -->
                                        <% if user_signed_in? %>
                                            <li><%= link_to "Dashboard", company_path(current_user.company), class: "btn-front btn-nav nav-link" %></li>
                                        <% else %>
                                            <li><%= link_to "Login", new_user_session_path, class: "btn-front btn-nav nav-link", style: "padding: 7px;" %></li>
                                            <li><%= link_to "Sign Up", new_company_path, class: "btn-front btn-nav btn-color", style: "padding: 7px;" %></li>
                                        <% end %>                                        
                                    </ul>
                                </div><!-- /End Navbar-Collapse -->
                            </div><!-- /End Col -->
                        </div><!-- /End Row -->
                    </div><!-- /End Container -->
                </nav><!-- /End Sticky Navigation -->

                
                <!-- =========================================
                     Hero-Section
                ========================================== -->
                <div class="container vmiddle">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-section-learn">
                                
                                <!-- Welcome - Hero Message -->
                                                       
                                <h1 class="text-white">So Much More Than Payments.</h1>
                                <p class="text-white">See Everything Service Pay Has To Offer</p>
                                
                                <!-- Learn More & Video Buttons -->
                                <div class="btn-box">
                                    <a href="#about" class="btn-front btn-color scrollto">Learn More</a>
                                </div>

                            </div><!-- /End Intro-Section -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->


            </div><!-- /End Background Overlay -->
        </header>
        <!-- =========================
             /END HEADER
        ============================== -->

        
        <!-- =================================
             SECTION ABOUT - INTRO FEATURES
        ====================================== -->
        <section class="intro-features white-bg" id="about">
            <div class="container">
                <!-- Padding -->
                <div class="wrapper-lg">
                    <div class="row">
                        <!-- Section Header Title -->
                        <div class="col-xs-12">
                            <h2>Start and Keep a Relationship With Your Customers</h2>
                            <p class="large">Make It Easy For Your Customers To Pay You and Start a Long Lasting Customer Relationship<br />(Without Any Added Time, Overhead, or New Employees!)</p>
                        </div>
                    </div>
                    <!-- Three Main Features with Icons -->
                    <div class="row">
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon-mobile"></i>
                            </div>
                            <h4>Easy & Secure Payments</h4>
                            <p>Get paid faster, make it easy for your customers to pay you, gain peace of mind knowing your customer's information is safe & secure. Online payments, Recurring Payments (for plans you offer), and Field Payments (coming soon)</p>
                        </div>
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon-browser"></i>
                            </div>
                            <h4>Marketing Automation</h4>
                            <p>Want to automatically send a postcard thank you? Remind customers they are due for service? Send a hand written thank you note to your best clients? That can all be set up very easily with no added work.</p> 
                        </div>
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon-documents"></i>
                            </div>
                            <h4>Reporting</h4>
                            <p>Do You Know Who Your Best Customers Are? How Much Money You Made From Service Plans? You can learn this and so much more with the advanced dashboards on Service Pay.</p>
                        </div>
                    </div><!-- /End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END INTRO FEATURES
        ============================== -->
        
        
        <!-- ==================================================
             SECTION 2 COLS - IMAGE RIGHT AND TEXT WITH CALL TO ACTION
        ======================================================= -->
        <section class="img-with-action light-bg">
            <div class="container wrapper-lg">
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <!-- Text Col -->
                        <h3>Communicate With Your<br /> Customers Without <br />Being Annoying</h3>
                        <p>Thank you emails, thank you postcards, service reminders, handwritten thank you and more. You control all the communications that happen with your customers. You'll create the customer journey once and then it is "set it and forget it"</p>
                        <!-- Call To Action Buttons -->
                        <div class="btn-box">
                            <a href="#features" class="btn-front btn-grey scrollto">Learn More</a>
                            <a href="#canvas-bg" class="btn-front btn-color scrollto"><i class="icon arrow_carrot-2dwnn_alt"></i>Get Started</a>
                        </div>
                        <!-- Div Required for Correct Charts Animation -->
                        <div class="start-charts"></div>
                    </div>
                </div><!-- /End Row-->
            </div><!-- /End Container-->
            <!-- Image Col -->
            <div class="hidden-sm hidden-xs col-md-6 img-col-bg img-right-learn"></div>
        </section>
        <!-- =============================
             /END SECTION 
        ============================== -->
        

        <!-- ==================================================
            CHARTS & SHOWCASE SECTION
        ======================================================= -->
        <section class="charts white-bg" id="charts">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Get More Out Of What You Already Have</h2>
                            <p class="large">Online Reviews, Referrals, Direct Mail, Email and So Much More</p>
                        </div>
                    </div>

                    <div class="row doughnut-box">
                        <div class="col-md-5">
                            <!-- Div Required for Correct Line Chart Animation -->
                            <div class="start-line"></div>
                            <!-- Chart Text Description -->
                            <h4>Online Reviews Continue To Grow <br /> In Importance</h4>
                            <p>Online reviews off of your site and on your listings on Google, Yelp, Facebook, and Angie's List are starting to matter more and more. 88% of consumers trust online reviews as much as personal recommendation and any bad reviews online could cost you thousands in revenue, if not more. On top of that Google uses the reviews as a ranking factor. Type in "air conditioner repair" for any city and you'll notice the guy at the top always has the most reviews.</p>
                            <p><a href="#canvas-bg" class="scrollto"><strong>Get Stated Today ›</strong></a></p>
                        </div>
                        <div class="col-md-7">
                            <!-- Doughnut Charts  -->
                            <div id="canvas-holder">
                                <div class="chart-text">
                                    88&#37;<span>Of People<br> Read Online<br /> Reviews</span>
                                </div>
                                <canvas id="chart-area" width="400" height="400"></canvas>
                            </div>
                            <div id="canvas2-holder">
                                <div class="chart2-text">
                                    86%<span>Make <br />Decisions<br /> From<br />Reviews</span>
                                </div>
                                <canvas id="chart2-area" width="350" height="350"></canvas>
                            </div>
                        </div>
                    </div><!-- /End Chart-Box -->
                        
                    <div class="row chart-box">
                        <div class="col-md-6 col-md-push-6 col-sm-12">
                            <!-- Chart Text Description -->
                            <h4>SmartMvp <strong>breathes new life</strong> into your App, Product or Saas landing page.</h4>
                            <p>Exercitationem, hic commodi libero reprehenderit id iusto, consequatur unde pariatur recusandae dicta sequi voluptatum quae corrupti culpa quibusdam nihil error harum itaque praesentium quidem corporis cupiditate voluptatem. Error tempore aperiam nulla saepe corrupti!</p>
                            <p><a href="#features" class="scrollto"><strong>Learn how customize SmartMvp ›</strong></a></p>
                        </div>
                        <div class="col-md-6 col-md-pull-6 col-sm-12">
                            <!-- Line Chart -->
                            <div class="line-canvas">
                                <div>
                                    <canvas id="line-canvas" height="450" width="600"></canvas>
                                </div>
                            </div>
                        </div>
                    </div><!-- /End Chart-Box -->
                    
                    <div class="row showcase">
                        <div class="col-md-4">
                            <h4>Fully Responsive Layout that will adapt itself to any mobile device.</h4>
                            <p>Praesentium voluptatem excepturi corporis labore architecto eos ea molestiae saepe facere at voluptate similique iusto porro pariatur, dolorum dolor magni sint eveniet iste. Eaque, aliquam, dignissimos.</p>
                            <p><a href="#mobile-download" class="scrollto"><strong>Download the App for your smartphone ›</strong></a></p>
                        </div>
                        <div class="col-md-8">
                            <!-- Devices Image -->
                            <div class="img-box">
                                <img src="assets/showcase.png" alt="" class="img-responsive">
                                <a href="http://youtu.be/SZEflIVnhH8" data-type="youtube" class="venobox video-player"><i class="icon arrow_triangle-right_alt2 wow fadeIn" data-wow-duration="2s"></i></a>
                            </div>
                        </div>
                    </div><!-- /End Chart-Box -->

                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->      
        </section>
        <!-- =============================
             /END CHARTS SECTION 
        ============================== -->
        
        
        <!-- ==================================================
            FEATURES SECTION
        ======================================================= -->
        <section class="tab-features color-bg" id="features">
            <div class="container">
                <div class="features-title">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-white">Explore Features</h2>
                            <p class="large text-white">The MVP is more than just a product, it's a way of thinking.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!-- Features Tab -->
                    <div class="tabs features tab-container">
                        <ul class="etabs">
                            <!-- Feature Icon -->
                            <li class="tab">
                                    <a href="#tab-feature-1">
                                        <div class="icon-sm">
                                            <i class="icon icon-layers"></i>
                                        </div>
                                        <h5 class="text-white">Flexible User<br> Interface</h5>
                                    </a>
                            </li>
                            <!-- Feature Icon -->
                            <li class="tab">
                                    <a href="#tab-feature-2">
                                        <div class="icon-sm">
                                            <i class="icon icon-pictures"></i>
                                        </div>
                                        <h5 class="text-white">Multiple Layout<br> Options</h5>
                                    </a>
                            </li>
                            <!-- Feature Icon -->
                            <li class="tab">
                                    <a href="#tab-feature-3">
                                        <div class="icon-sm">
                                            <i class="icon icon-grid"></i>
                                        </div>
                                        <h5 class="text-white">Built on <br>Bootstrap 3.2</h5>
                                    </a>
                            </li>
                            <!-- Feature Icon -->
                            <li class="tab">
                                    <a href="#tab-feature-4">
                                        <div class="icon-sm">
                                            <i class="icon icon-chat"></i>
                                        </div>
                                        <h5 class="text-white">Support Forum <br>Access</h5>
                                    </a>
                            </li>
                            <!-- Feature Icon -->
                            <li class="tab">
                                    <a href="#tab-feature-5">
                                        <div class="icon-sm">
                                            <i class="icon icon-lightbulb"></i>
                                        </div>
                                        <h5 class="text-white">Designed for <br>Startups</h5>
                                    </a>
                            </li>
                        </ul><!-- /End Etabs -->
                  
                        <div class="panel-container">
                            
                            <div class="tab-content" id="tab-feature-1">
                                <div class="container">
                                    <div class="row">
                                        <!-- Feature Description 2cols Text-Left with Buttons -->
                                        <div class="col-md-5 col-sm-6">
                                            <h4>SmartMvp is a startup landing page with usable, versatile and modular features.</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius non velit optio veniam reprehenderit quod! Maiores asperiores dolorem doloremque tempore reiciendis voluptatem expedita, tempora, deserunt ducimus impedit animi quis eum, itaque laudantium ea perferendis nisi. Similique eaque esse praesentium laudantium deserunt quos incidunt sed porro maiores dolore voluptate quod quisquam, architecto eos dicta quae magni.</p>
                                            <div class="btn-box">
                                                <a href="#testimonials" class="btn-front btn-grey scrollto">Our Clients</a>
                                                <a href="#team" class="btn-front btn-grey scrollto">Meet the Team</a>
                                            </div>
                                        </div>
                                        <!-- Image-right -->
                                        <div class="col-md-7 col-sm-6 hidden-xs wow fadeInRight" data-wow-duration="2s">
                                            <img src="assets/features/feature1.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /End Tab-content -->

                            <div class="tab-content" id="tab-feature-2">
                                <div class="container">
                                    <div class="row">
                                        <!-- Feature Description 2cols Text-Right with Icons -->
                                        <div class="col-xs-12 col-sm-6 col-sm-push-6 col-lg-7 col-lg-push-5">
                                            <h4>SmartMvp is a high-quality solution for those who want a beautiful website in no time</h4>
                                            <p>Similique eaque esse praesentium laudantium deserunt quos incidunt sed porro maiores dolore voluptate quod quisquam.</p>
                                            <div class="tab-icon">
                                                <div class="icon-sm">
                                                    <i class="icon icon-adjustments"></i>
                                                </div>
                                                <p class="large">Numerous Colour Schemes</p>
                                                <p> Ipsum, ratione. Dolor illo numquam dolorem consequuntur, ex vitae, ipsum tenetur nihil soluta. Eaque at laboriosam similique?</p>
                                            </div>
                                            <div class="tab-icon">
                                                <div class="icon-sm">
                                                    <i class="icon icon-target"></i>
                                                </div>
                                                <p class="large">Tons of Elements</p>
                                                <p> Repudiandae expedita, non aperiam, ea quia dolorem quidem pariatur culpa explicabo voluptatem alias voluptas itaque similique officia.</p>
                                            </div>
                                        </div>
                                        <!-- Image-Left -->
                                        <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-lg-5 col-lg-pull-7 hidden-xs wow fadeInLeft" data-wow-duration="2s">
                                            <img src="assets/features/feature2.png" class="img-device" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div><!-- / End Tab-content -->

                            <div class="tab-content" id="tab-feature-3">
                                <div class="container">
                                    <div class="row">
                                        <!-- Feature Description 2cols Text-Left -->
                                        <div class="col-md-5 col-sm-6">
                                            <h4>SmartMvp is a fully responsive landing page template with awesome features and interactive elements.</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius non velit optio veniam reprehenderit quod! Maiores asperiores dolorem doloremque tempore reiciendis voluptatem expedita, tempora, deserunt ducimus impedit animi quis eum, itaque laudantium ea perferendis nisi.</p>
                                        </div>
                                        <!-- Image-Right -->
                                        <div class="col-md-7 col-sm-6 hidden-xs wow fadeInRight" data-wow-duration="2s">
                                            <img src="assets/features/feature3.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /End Tab-content -->

                            <div class="tab-content" id="tab-feature-4">
                                <div class="container">
                                    <div class="row">
                                        <!-- Feature Description 2col Text-Left with Icons-->
                                        <div class="col-md-7 col-sm-6">
                                            <h4>There are a lot of different blocks that will help you to make a perfect project.</h4>
                                            <p>Deserunt ducimus impedit animi quis eum, itaque laudantium ea perferendis nisi. Similique eaque esse.</p>
                                            <div class="tab-icon">
                                                <div class="icon-sm">
                                                    <i class="icon icon-profile-male"></i>
                                                </div>
                                                <p class="large">Amazingly Simple Use</p>
                                                <p>Tempora, veniam. Tempore nihil praesentium obcaecati velit, harum nam dicta sequi quam sunt incidunt facilis itaque..</p>
                                            </div>
                                            <div class="tab-icon">
                                                <div class="icon-sm">
                                                    <i class="icon icon-compass"></i>
                                                </div>
                                                <p class="large">Clear Documentation</p>
                                                <p>Officia illum, perferendis dolorum dolor sit eveniet, tempore incidunt animi totam qui voluptas, inventore velit illo!</p>
                                            </div>
                                        </div>
                                        <!-- Image Right -->
                                        <div class="col-md-5 col-sm-6 hidden-xs wow fadeInRight" data-wow-duration="2s">
                                            <img src="assets/features/feature4.png" class="img-device" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /End Tab-content -->

                            <div class="tab-content" id="tab-feature-5">
                                <div class="container">
                                    <div class="row">
                                        <!-- Feature Description 2col Text both -->
                                        <div class="col-xs-12">
                                            <div class="col-sm-6">
                                                <h4>Publish your Startup in Beautiful Way.</h4>
                                                <p>Similique eaque esse praesentium laudantium deserunt quos incidunt sed porro maiores dolore voluptate quod quisquam, architecto eos dicta quae magni vero unde necessitatibus. Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <h4>Take a Second and Explore it!</h4>
                                                <p>Inventore distinctio placeat fugiat reiciendis repudiandae et iste, aut sunt ad. Ab temporibus animi harum quo enim magnam rerum odit quos molestias ipsam! Perferendis eum nobis aliquid, facere modi quos, possimus deleniti labore sit cupiditate, culpa consequatur.</p>
                                            </div>
                                        </div>
                                    </div>   
                                    <div class="row">
                                        <!-- Image below --> 
                                        <div class="col-xs-12 hidden-xs wow fadeInUp" data-wow-duration="2s">
                                            <img src="assets/features/feature5.png" class="img-device" alt="">
                                        </div>
                                    </div>   
                                </div>
                            </div><!-- / End Tab-content -->

                        </div><!-- / End Panel-Container -->
                    </div><!-- / End Tabs -->
                </div><!-- /End Col -->
            </div><!-- /End Row -->
        </section>
        <!-- =============================
             /END FEATURES TAB
        ============================== -->
        
        
        <!-- ==================================================
            SIGNUP DIVIDER
        ======================================================= -->
        <section id="canvas-bg" class="dark-bg signup-divider">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-white">Start your free, no-risk, 30 day trial!</h2>
                            <p class="large text-white">No credit card required. Upgrade, downgrade, or cancel anytime.</p>
                            <!-- Handwritten text with arrow -->
                            <p class="signup-handwritten text-white">Why wait? Start now! <br>No credit card needed</p>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Signup Form -->
                        <%= form_for @company, html: { id: "fast-reg", role: "form"} do |f| %>
                            <div class="form-group">
                                <%= f.text_field :company_name, id: "company_company_name fast-email", class: "form-control input-lg", placeholder: "Company Name", required: true %>
                            </div>
                            <!-- Signup Button -->
                            <%= f.submit "Get Started", class: "btn-front btn-color" %>                                            
                        <% end %>
                    </div><!-- /End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END SIGNUP SECTION 
        ============================== -->
        

        <!-- =============================
             PRICING SECTION
        ============================== -->
        <section class="pricing white-bg" id="pricing">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Get Started Today</h2>
                            <p class="large">Choose the plan that suits you best. 30 Days Free Trial with all plans.</p>
                        </div>
                    </div>
                    
                    <!-- Pricing Tabs-->
                    <div class="row grid-md">
                        <div class="col-sm-4">
                            <div class="pricing-tab">
                                <p class="price">$19<span>/mo</span></p>
                                <h4>Small</h4>
                                <ul class="pricing-features">
                                    <li>30 GB storage</li>
                                    <li>200 GB bandwidth<span>(approx lorem ipsum)</span></li>
                                    <li>10 email accounts</li>
                                    <li>10 MySql databases</li>
                                    <li>3 support tickets per month</li>
                                </ul>
                                <a href="#canvas-bg" class="btn-front btn-color scrollto">Subscribe</a>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="pricing-tab">
                                <div class="ribbon">
                                    <h5 class="popular">Popular</h5>
                                </div>
                                <p class="price">$79<span>/mo</span></p>
                                <h4>Medium</h4>
                                <ul class="pricing-features">
                                    <li>100 GB storage</li>
                                    <li>500 GB bandwidth<span>(approx lorem ipsum)</span></li>
                                    <li>50 email accounts</li>
                                    <li>50 MySql databases</li>
                                    <li>5 support tickets per month</li>
                                </ul>
                                <a href="#canvas-bg" class="btn-front btn-color scrollto">Subscribe</a>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="pricing-tab">
                                <p class="price">$199<span>/mo</span></p>
                                <h4>Large</h4>
                                <ul class="pricing-features">
                                    <li>Unlimited storage</li>
                                    <li>Unlimited bandwidth<span>(lorem ipsum)</span></li>
                                    <li>Unlimited email account</li>
                                    <li>Unlimited databases</li>
                                    <li>Unlimited support</li>
                                </ul>
                                <a href="#canvas-bg" class="btn-front btn-color scrollto">Subscribe</a>
                            </div>
                        </div>


                        <!-- Pricing Footer -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pricing-more">
                                    <p><strong>Looking for more?</strong> &mdash; Tell us what you need. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nesciunt sed molestiae quos, dolor eaque quis facilis tempora consequuntur doloribus omnis cumque fugiat. Qui rerum quis mollitia incidunt reprehenderit expedita, non cumque tenetur deleniti! <strong> <a href="mailto:support@themedept.com">Contact us <i class="icon arrow_carrot-right_alt2"></i></a></strong> </p>
                                </div>
                            </div>
                        </div><!-- /End Row Pricing Footer -->
                    
                    </div><!-- /End Row Pricing Tab -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END PRICING SECTION 
        ============================== -->
        
            
        <!-- ==================================================
            MOBILE DOWNLOAD SECTION
        ======================================================= -->
        <section class="mobile-download light-bg" id="mobile-download">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Download the App</h2>
                            <p class="large">Don't miss the chance to get our amazing Mobile Application. Get connected anytime.</p>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Text and Mobile Download Buttons -->
                        <div class="col-sm-6 col-md-4">
                            <h3>Supercharge your Productivity</h3>
                            <p class="mobile-text">With an online dashboard and a mobile app, you'll have full control of your account and see your usage in real-time. <span class="text-color">Even more convenient!</span></p>
                            <a href="#" class="btn-front btn-color"><i class="icon icon_cloud-download_alt"></i>Download Now!!</a>
                        </div>
                      
                        <div class="col-sm-6 col-md-4">
                            <!-- Screenshot Carousel -->
                            <div class="shot-container">
                                <div id="owl-carousel-shots-phone" class="owl-carousel">
                                    <div class="owl-container text-center shots-modal">
                                        <img src="assets/app-screenshots/app-screenshot1alt.jpg" alt="" title="this is the title" />
                                    </div>
                                    <div class="owl-container text-center shots-modal">
                                        <img src="assets/app-screenshots/app-screenshot2alt.jpg" alt="" title="this is the title" />
                                    </div>
                                    <div class="owl-container text-center shots-modal">
                                        <img src="assets/app-screenshots/app-screenshot3alt.jpg" alt="" title="this is the title" />
                                    </div>
                                </div><!-- /End owl carousel-->
                            </div><!-- /End Container -->
                        </div>

                        <div class="col-sm-12 col-md-4 right-features">
                            <!-- More Features -->
                            <div class="col-sm-4 col-md-12">
                                <h4>Get Notified</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam inventore.</p>
                            </div>
                            <div class="col-sm-4 col-md-12">
                                <h4>Add Data in Seconds</h4>
                                <p>Magnam beatae similique molestias incidunt, assumenda dolorem ea deserunt.</p>
                            </div>
                            <div class="col-sm-4 col-md-12">
                                <h4>Real Time Alerts</h4>
                                <p>Accusantium at sapiente mollitia asperiores quisquam rerum hic et animi.</p>
                            </div>
                        </div>
                    </div><!-- /End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END MOBILE DOWNLOAD SECTION 
        ============================== -->

        
        
        
    <!-- ==================================================
        FOOTER
    ======================================================= -->
    <footer class="footer dark-bg" id="footer">
        <div class="container-front">
            <div class="wrapper-lg">
                <div class="row">
                    <!-- Footer Left Col -->
                    <div class="col-md-5">
                            <!-- Logo -->
                            <a href="#top" class="scrollto" title="SmartMvp">
                                <span class="text-logo">Service Pay</span>
                            </a>
                            <p class="footer-hero">Payments For service professionals</p>
                            <p class="footer-text">Service Pay is an online payments processor for service professionals. Service Pay is here to make it easy for your customers to pay you, review your company, and refer their friends to your business.</p>
                            <p class="footer-cta">What are you waiting for?
                                <a href="#canvas-bg" class="btn-front btn-color scrollto">Sign Up Today</a>
                            </p> 
                    </div>
                    <!-- Footer Contact Col -->
                    <div class="col-md-3">
                        <h5 class="text-white">Reach Out To Us</h5>
                        <div class="contact-item">
                            <div class="contact-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="contact-content">
                                <%= mail_to "support@leadgenhvac.com", "support@leadgenhvac.com", target: "_blank" %>
                            </div>
                        </div>
                        <div class="contact-item">
                            <div class="contact-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="contact-content">
                                (888) 414-2399
                            </div>
                        </div>
                    </div>
                    <!-- Footer Right Col: Twitter Feed -->
                    <div class="col-md-4">
                            <%= image_tag "leadgen2.png", class: "footer-logo" %><br/>
                    </div>

                    <!-- Footer Menu and Copy -->
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="footer-nav">
                                <li>
                                    <%= link_to "Kinertia", "http://www.kinertia.com", target: "_blank" %>
                                </li>
                                <li>
                                    <%= mail_to "support@leadgenhvac.com", "Support", target: "_blank" %>
                                </li>
                                <li>
                                    <%= link_to "Terms & Conditions", "#", target: "_blank" %>
                                </li>
                            </ul>
                            <p class="footer-copy">&copy; 2014 - TrackLocal</p>
                        </div>
                    </div>
                    
                </div><!-- End Row -->
            </div><!-- /End Wrapper -->
        </div><!-- /End Container -->
    </footer>

    </div><!-- /End Main Wrapper -->
</div>
<%= content_tag :div, "", id: "payments_chart", class: "graph", style: "display:none;" %>