    <%= render 'shared/nav_top' %>
      <div class="row">
        <%= render 'shared/left_nav' %>
        <div id="content-wrapper">
          <div class="row">
            <div class="col-lg-12">
              <%= render 'shared/messages' %>
              <div class="row">
                <div class="col-lg-12">                  
                  <h1>User Profile</h1>
                </div>
              </div>
              
              <div class="row" id="user-profile">
                <div class="col-lg-3 col-md-4 col-sm-4">
                  <div class="main-box clearfix">
                    <header class="main-box-header clearfix">
                     <center><h2><%= @user.first_name %> <%= @user.last_name %></h2></center>
                    </header>
                    
                    <div class="main-box-body clearfix">                      
                      <div class="profile-since">
                        User since: <%= @user.created_at.strftime("%b %Y") %>
                      </div>
                    </div>
                    
                  </div>
                </div>
                
                <div class="col-lg-9 col-md-8 col-sm-8">
                  <div class="main-box clearfix">
                    <div class="tabs-wrapper profile-tabs">
                      <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-newsfeed" data-toggle="tab">User Info</a></li>
                      </ul>
                      
                      <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-newsfeed">
                          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                            <%= devise_error_messages! %>
                            <div class="row">
                                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                                <% end %>
                              <div class="col-md-6">
                                <%= f.label :first_name %>
                                <%= f.text_field :first_name, class: "form-control" %><br />

                                <%= f.label :last_name %>
                                <%= f.text_field :last_name, class: "form-control" %><br />
                              </div>
                              <div class="col-md-6">
                                <%= f.label :email %>
                                <%= f.text_field :email, class: "form-control" %><br />

                                <%= f.label :password %>
                                <%= f.text_field :password, placeholder: "Change your password", class: "form-control" %><br />

                                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                                <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current password", class: "form-control" %><br />
                              </div>
                              <div class="col-md-12">
                                <%= f.submit "Save Changes", class: "btn btn-success pull-right" %>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <%= render 'shared/footer' %>
        </div>
      </div>
    </div>
  </div>