<div id="login-full-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="login-box">
          <div class="row">
            <div class="col-xs-12">
              <header id="login-header">
                <div id="login-logo">
                  <%= image_tag "logo.png" %>
                </div>
              </header>
              <div id="login-box-inner">
                <%= render 'shared/messages' %>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>

                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <%= f.text_field :first_name, autofocus: true, placeholder: "First Name", class: "form-control" %>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
                    </div>
                    <div class="input-group field">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <%= f.email_field :email, class: "form-control input-lg", placeholder: "Your Email", required: true %>
                    </div>
                    <div class="input-group field">
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg", placeholder: "Password (8 characters minimum)", required: true %>
                    </div>
                  <div id="remember-me-wrapper">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="checkbox-nice">
                          <input type="checkbox" id="terms-cond" checked="checked" />
                          <label for="terms-cond">
                            I accept terms and conditions
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <%= f.submit "Register", class: "btn btn-success col-xs-12" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>