<%= render 'invoice_css' %>

<div class="col-xs-12 bg-white invoice-inside">
	<center><h1>Status: <%= @invoice.status.titleize %>  <%= @invoice.status == "partial" ? " - #{number_to_currency(@payments_total / 100)} of #{number_to_currency(@invoice.total / 100)} paid so far" : "" %> <%= @invoice.status == "paid" ? " | Payment Date: #{@invoice.payment_date.strftime("%m/%d/%Y")}" : "" %></h1></center>
	<header class="col-xs-8">
		<h1>Invoice #<%= @invoice.invoice_number %></h1>
		<address>
			<h4>Customer Info:</h4>
			<p><%= @customer.customer_name.titleize %></p>
			<p><%= @customer.address_one %><%= @customer.address_two.present? ? "<br />".html_safe + @customer.address_two : nil %><br><%= @customer.city.titleize %>, <%= @customer.state %> <%= @customer.postcode %></p>
			<p><%= number_to_phone(@customer.phone, area_code: true) %></p>
		</address>
	</header>
	<div class="col-xs-4"><span><%= image_tag @company.logo, size: "200x200" %></span></div>
	<article class="col-xs-12">
		<div class="col-xs-8">
		</div>
		<div class="col-xs-4">
			<table class="meta">
        <tr>
          <th class="invoice_th"><span>Invoice #</span></th>
          <td class="invoice_td"><span><%= @invoice.invoice_number %></span></td>
        </tr>
        <tr>
          <th class="invoice_th"><span>PO/Work Order #</span></th>
          <td class="invoice_td"><span><%= @invoice.po_number %></span></td>
        </tr>
        <tr>
          <th class="invoice_th"><span>Invoice Date</span></th>
          <td class="invoice_td"><span><%= @invoice.issue_date.strftime("%m/%d/%Y") %></span></td>
        </tr>
        <tr>
          <th class="invoice_th"><span>Total Invoice</span></th>
          <td class="invoice_td"><%= Money.new(@invoice.total, "USD").format %></td>
        </tr>
        <tr>
          <th class="invoice_th"><span>Amount Paid</span></th>
          <td class="invoice_td"><%= Money.new(@payments_total, "USD").format %></td>
        </tr>
        <tr>
          <th class="invoice_th" style="<%= @left_to_pay == 0 ? 'background-color: red;' : 'background-color: red;' %> color: #fff;"><span>Amount Due</span></th>
          <td class="invoice_td"><%= Money.new(@left_to_pay, "USD").format %></td>
        </tr>
			</table>
		</div>
		<table class="inventory col-xs-12">
			<thead>
				<tr>
					<th class="invoice_th"><span>Item</span></th>
					<th class="invoice_th"><span>Description</span></th>
					<th class="invoice_th"><span>Unit Cost</span></th>
					<th class="invoice_th"><span>Quantity</span></th>
					<th class="invoice_th"><span>Price</span></th>
				</tr>
			</thead>
			<tbody>
        <% @invoice_items.each do |i| %>
          <tr>
            <td class="invoice_td"><%= i.name %></td>
            <td class="invoice_td"><%= i.description %></td>
            <td class="invoice_td"><%= Money.new(i.unit_cost, "USD").format %></td>
            <td class="invoice_td"><%= i.quantity %></td>
            <td class="invoice_td"><%= Money.new(i.total, "USD").format %></td>
          </tr>
        <% end %>
			</tbody>
		</table>
		<table class="balance">
			<tr>
				<th class="invoice_th"><span>Total Invoice</span></th>
				<td class="invoice_td"><%= number_to_currency(@invoice.total.to_f / 100) %></td>
			</tr>
		</table>
	</article>


	<div class="col-sm-12">
		<div class="col-sm-6">
			<aside>
				<h1><span>Notes For You</span></h1>
				<div>
					<%= @invoice.customer_notes %>
				</div>
			</aside>
		</div>
		<div class="col-sm-6">
			<aside>
				<h1><span>Payment Terms</span></h1>
				<div>
					<%= @invoice.payment_terms %>
				</div>
			</aside>
		</div>
	</div>
	<div class="col-sm-12 submit">
		<div class="col-sm-6">
			<% if @invoice.status != 'paid' %>
				<%= link_to "#{root_url}companies/#{@company.id}/payment?invoice_number=#{@invoice.invoice_number}&amount=#{@left_to_pay}&email=#{@customer.customer_email}&name=#{@customer.customer_name.titleize}&address_one=#{@customer.address_one}&address_two=#{@customer.address_two}&city=#{@customer.city.titleize}&state=#{@customer.state}&post=#{@customer.postcode}&phone=#{@customer.phone}&invoice_id=#{@invoice.id}", class: "btn btn-success pull-right", target: "_blank" do %>
					Pay Invoice&nbsp;&nbsp; <i class="fa fa-usd"></i>			
				<% end %>
			<% end %>
		</div>
		<div class="col-sm-6">
			<%= link_to customer_invoice_path(@invoice, format: "pdf"), class: "btn btn-info pull-right" do %> 
				Download Invoice PDF&nbsp;&nbsp; <i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;<i class="fa fa-download"></i>
			<% end %>
		</div>
	</div>
</div>