<%= render 'shared/invoice_css' %>

<div class="col-lg-10 bg-white invoice-inside">
	<%= form_for @invoice do |f| %>
	<%= f.hidden_field :total, class: "total" %>
	<header>
		<h1>&nbsp;&nbsp;&nbsp;Invoice <span class="pull-right" style="margin-right: 1em;">Invoice Created by: <%= @invoice.user.first_name.titleize %>&nbsp;<%= @invoice.user.last_name.titleize %></span></h1>
		<span><%= image_tag @company.logo %></span>
		<address>
			<p><%= @customer.customer_name.titleize %></p>
			<p><%= @customer.address_one %><%= @customer.address_two.present? ? "<br />".html_safe + @customer.address_two : nil %><br><%= @customer.city.titleize %>, <%= @customer.state %> <%= @customer.postcode %></p>
			<p><%= number_to_phone(@customer.phone, area_code: true) %></p>
		</address>
	</header>
	<article>
    <div class="row">
    <div class="col-md-12">
      <div  class="col-md-4">
      <div class="form-group">
        <label>How Do You Want To Send This Invoice?</label>
        <div class="checkbox-nice">
          <%= f.check_box :send_by_email, checked: true %>
          <%= f.label :send_by_email, "Send By Email" %>
        </div><br />

        <div class="checkbox-nice">
          <%= f.check_box :send_by_post %>
          <%= f.label :send_by_post, "Send By Mail ($2.00 extra)" %>
        </div><br />

        <div class="checkbox-nice">
          <%= f.check_box :send_by_text %>
          <%= f.label :send_by_text, "Send By text" %>
        </div>
        </div>
      </div>

      <% if @customer.contacts.any? %>
        <div class="col-md-4">
          <div class="form-group">
            
            <label>(This will automatically be sent to the main customer email)</label>
            <div class="checkbox-nice">
              <%= collection_check_boxes(:customer, :contact_ids, @contacts, :id, :name) %>
            </div>

          </div>
        </div>
      <% end %>
      
      <div class="col-md-4">
        <div class="form-group">
          <label>Do You Want To Allow credit Card Payments For This Invoice?</label><br />
          <div class="checkbox-nice">
            <%= f.check_box :allow_credit_card %>
            <%= f.label :allow_credit_card, "Allow Payment By Credit Card" %>
          </div>
        </div>
      </div>
      
    </div>
    </div>
	</article>
	<article>
		<table class="meta">
			<tr>
				<th class="invoice_th"><span>Invoice #</span></th>
				<td class="invoice_td"><span><%= f.text_field :invoice_number, value: @invoice.invoice_number, class: "form-control" %></span></td>
			</tr>
			<tr>
				<th class="invoice_th"><span>PO/Work Order #</span></th>
				<td class="invoice_td"><span><%= f.text_field :po_number, value: @invoice.po_number, class: "form-control" %></span></td>
			</tr>
			<tr>
				<th class="invoice_th"><span>Date - format mm/dd/yyyy</span></th>
				<td class="invoice_td"><span><%= f.text_field :issue_date, value: Date.today.strftime("%m/%d/%Y"), id: "datepickerDate", class: "form-control" %></span></td>
			</tr>
		</table>
		
		<table class="inventory">
			<thead>
				<tr>
					<th class="invoice_th"><span>Item <br /><%= link_to "Create New Item", new_item_path, target: "_blank" %></span></th>
					<th class="invoice_th"><span>Description</span></th>
					<th class="invoice_th"><span>Unit Cost</span></th>
					<th class="invoice_th"><span>Quantity</span></th>
					<th class="invoice_th"><span>Price</span></th>
				</tr>
			</thead>
			<tbody>
				<%= f.fields_for :invoice_items do |builder| %>
        <%= render 'shared/invoice_item_fields', f: builder %>
        
				<% end %>
			</tbody>
		</table>
    <%= link_to_add_fields " + Add Another Item", f, :invoice_items %>
		<table class="balance">
			<tr>
				<th class="invoice_th"><span>Total</span></th>
        <td class="invoice_td shown_total"></td>
			</tr>
			<tr>
				<th class="invoice_th"><span>Amount Paid</span></th>
        <td class="invoice_td amount_paid"><%= @amount_paid.present? ? Money.new(@amount_paid, "USD").format : '$0.00' %></td>
			</tr>
			<tr>
				<th class="invoice_th"><span>Balance Due</span></th>
				<td class="invoice_td balance_due"></td>
			</tr>
		</table>
	</article>



	<div class="col-sm-4">
		<aside>
			<h1><span>Private Notes</span></h1>
			<div>
				<%= f.text_area :private_notes, cols: 20, rows: 4, placeholder: "Notes Only For You and Your Team", class: "form-control" %>
			</div>
		</aside>
	</div>
	<div class="col-sm-4">
		<aside>
			<h1><span>Notes For Clients</span></h1>
			<div>
				<%= f.text_area :customer_notes, cols: 20, rows: 4, placeholder: "Notes/Message that will be on the copy of the invoice your customer sees", class: "form-control" %>
			</div>
		</aside>
	</div>
	<div class="col-sm-4">
		<aside>
			<h1><span>Payment Terms</span></h1>
			<div>
				<%= f.text_area :payment_terms, cols: 20, rows: 4, placeholder: @company.default_invoice_terms.present? ? nil : "Payment Terms For Your Customer", value: @company.default_invoice_terms.present? ? @company.default_invoice_terms : nil, class: "form-control" %>
			</div>
			<%= link_to "Edit Default Terms", edit_company_path(@company) %>
		</aside>
	</div>
	<div class="col-md-12 submit">
		<%= f.submit "Update Invoice", class: "btn btn-success pull-right submit-btn" %>
    <%= link_to "Cancel", invoice_path(@invoice), class: "btn btn-default pull-right", style: "margin-right: 20px;" %>
		<div class="form-group">
			<div class="checkbox-nice pull-right" style="margin-right:1%;">
				<%= f.check_box :draft %>
				<%= f.label :draft, "Make A Draft" %>
			</div>
		</div>
	</div>
	<% end %>
</div>

<div class="items" style="display:none;">
    <% @items.each do |i| %>
       <ul>
        <li id="<%= i.name %>"><b><%= i.name %></b></li>
          <ul>
            <li id="<%= i.name.gsub(/\s+/, '').downcase %>_description"><%= i.description %></li>
            <li id="<%= i.name.gsub(/\s+/, '').downcase %>_quantity"><%= i.quantity %>
            <li id="<%= i.name.gsub(/\s+/, '').downcase %>_unit_cost"><%= Money.new(i.unit_cost, "USD").cents %></li>
          </ul>
       </ul>
    <% end %>
</div>


<script type="text/javascript">
	//datepicker
	$('#datepickerDate').datepicker({
	  format: 'mm/dd/yyyy'
	});

	$('#sel2').select2();

</script>