<%= render 'invoice_css' %>

<div class="col-lg-10 bg-white invoice-inside">
	<header>
		<h1>&nbsp;&nbsp;&nbsp;Invoice #<%= @invoice.invoice_number %> <%= @invoice.draft? ? " - DRAFT NOT SENT YET" : nil %> <span class="pull-right" style="margin-right: 1em;">Invoice Created by: <%= @invoice.user.first_name.titleize %>&nbsp;<%= @invoice.user.last_name.titleize %></span></h1>
    <center><h2>Status: <%= @invoice.status.titleize %>  <%= @invoice.status == "partial" ? " - #{number_to_currency(@payments_total / 100)} of #{number_to_currency(@invoice.total / 100)} paid so far" : "" %> <%= @invoice.status == "paid" ? " | Payment Date: #{@invoice.payment_date.strftime("%m/%d/%Y")}" : "" %></h2></center>
		<span class="logo"><%= image_tag @company.logo %></span>
		<address>
			<h4>Customer Info:</h4>
			<p><%= @customer.customer_name.titleize %></p>
			<p><%= @customer.address_one %><%= @customer.address_two.present? ? "<br />".html_safe + @customer.address_two : nil %><br><%= @customer.city.titleize %>, <%= @customer.state %> <%= @customer.postcode %></p>
			<p><%= number_to_phone(@customer.phone, area_code: true) %></p>
		</address>
	</header>
	<article>
		<div class="form-group">
			<div class="col-sm-8">
				<div class="col-sm-4">
					<label>How Was This Invoice Sent?</label><br />
					<% if @invoice.send_by_email? %>
						Sent by Email <br /><br />
					<% end %>

					<% if @invoice.send_by_post? %>
						Sent By Snail Mail
					<% end %>

					<% if @invoice.send_by_text? %>
						Sent By Text Message
					<% end %>
				</div>
				<div class="col-sm-4">
					<label>Is This A Recurring Invoice?</label><br />
					<%= @invoice.recurring? ? "Yes, this is a recurring invoice" : "No, this is not a recurring invoice" %>
				</div>
			</div>
		</div>
	</article>
	<article>
		<table class="meta">
			<tr>
				<th class="invoice_th"><span>Invoice #</span></th>
				<td class="invoice_td"><span><%= @invoice.invoice_number %></span></td>
			</tr>
			<tr>
				<th class="invoice_th"><span>PO/Work Order #</span></th>
				<td class="invoice_td"><span><%= @invoice.po_number %></span></td>
			</tr>
			<tr>
				<th class="invoice_th"><span>Invoice Date</span></th>
				<td class="invoice_td"><span><%= @invoice.issue_date.strftime("%m/%d/%Y") %></span></td>
			</tr>
			<tr>
				<th class="invoice_th"><span>Amount Due</span></th>
				<td class="invoice_td"><%= number_to_currency(@invoice.total.to_f / 100) %></td>
			</tr>
		</table>
		<table class="inventory">
			<thead>
				<tr>
					<th class="invoice_th"><span>Item</span></th>
					<th class="invoice_th"><span>Description</span></th>
					<th class="invoice_th"><span>Unit Cost</span></th>
					<th class="invoice_th"><span>Quantity</span></th>
					<th class="invoice_th"><span>Price</span></th>
				</tr>
			</thead>
			<tbody>
        <% @invoice_items.each do |i| %>
          <tr>
            <td class="invoice_td"><%= i.name %></td>
            <td class="invoice_td"><%= i.description %></td>
            <td class="invoice_td"><%= Money.new(i.unit_cost, "USD").format %></td>
            <td class="invoice_td"><%= i.quantity %></td>
            <td class="invoice_td"><%= Money.new(i.total, "USD").format %></td>
          </tr>
        <% end %>
			</tbody>
		</table>
		<table class="balance">
			<tr>
				<th class="invoice_th"><span>Total</span></th>
        <td class="invoice_td"><%= Money.new(@invoice.total, "USD").format %></td>
			</tr>
		</table>
	</article>



	<div class="col-sm-4">
		<aside>
			<h1><span>Private Notes</span></h1>
			<div>
				<%= @invoice.private_notes %>
			</div>
		</aside>
	</div>
	<div class="col-sm-4">
		<aside>
			<h1><span>Notes For Clients</span></h1>
			<div>
				<%= @invoice.customer_notes %>
			</div>
		</aside>
	</div>
	<div class="col-sm-4">
		<aside>
			<h1><span>Payment Terms</span></h1>
			<div>
				<%= @invoice.payment_terms %>
			</div>
		</aside>
	</div>
	<div class="col-md-12 submit">
		<%= link_to "Edit Invoice", edit_invoice_path(@invoice), class: "btn btn-info pull-right" %>
		<%= link_to invoice_path(@invoice, format: "pdf"), class: "btn btn-success pull-right", style: "margin-right: 20px;" do %> 
			Download Invoice&nbsp;&nbsp; <i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;<i class="fa fa-download"></i>
		<% end %>
		<%= link_to customer_invoice_path(@invoice), target: "_blank", class: "btn btn-info pull-right", style: "margin-right: 20px;" do %> 
			Customer View&nbsp;&nbsp; <i class="fa fa-user"></i>
		<% end %>
	</div>
</div>