<%= render 'shared/nav_top' %>
	<div class="row">
		<%= render 'shared/left_nav' %>
		<div id="content-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<%= render 'shared/messages' %>
					<div class="row">
						<div class="col-lg-12">		
						    <br /><br />
						    <% if @invoice.total.present? %>
						    	<h1>Update This Invoice</h1>
						    <% else %>					
								<h1>Create A New Invoice</h1>
							<% end %>
						</div>
					</div>
					
					<div class="invoice">
						<%= render 'invoice' %>
					</div>

				</div>
			</div>
		  <%= render 'shared/footer' %>
		</div>
	</div>
</div>
</div>
<%= render 'shared/empty_morris_div' %>