    <div class="bg-white">
        <!-- =============================
             PRICING SECTION
        ============================== -->
        <section class="pricing" id="pricing">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Change The Plan You Are Subscribed To</h2>
                        </div>
                    </div>
                    
                    <!-- Pricing Tabs-->
                    <div class="row grid-md">
                        <% @plans.each do |p| %>
                            <%= form_for @company do |f| %>
                                <%= f.hidden_field :companyplan_id, value: p.id %>
                                <div class="col-sm-4">
                                    <div class="pricing-tab">
                                        <p class="price"><%= number_to_currency(p.amount / 100) %><span>/<%= p.interval %></span></p>
                                        <h4><%= p.name.titleize %></h4>
                                        <ul class="pricing-features">
                                            <li>30 GB storage</li>
                                            <li>200 GB bandwidth<span>(approx lorem ipsum)</span></li>
                                            <li>10 email accounts</li>
                                            <li>10 MySql databases</li>
                                            <li>3 support tickets per month</li>
                                        </ul>
                                        <%= @current_plan.id == p.id ? "<a href='#' class='btn btn-success'>Current Plan</a>".html_safe  : "<input name='commit'  type='submit' value='Subscribe' class='btn btn-color'>".html_safe %>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>


                        <!-- Pricing Footer -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pricing-more">
                                    <p><strong>Looking for more?</strong> &mdash; We have high volume plans and we're always interested in talking to our customers. Reach out today!<strong> <a href="mailto:support@themedept.com">Contact us <i class="icon arrow_carrot-right_alt2"></i></a></strong> </p>
                                </div>
                            </div>
                        </div><!-- /End Row Pricing Footer -->
                    
                    </div><!-- /End Row Pricing Tab -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END PRICING SECTION 
        ============================== -->
    </div>