<%= render 'shared/nav_top' %>
	<div class="row">
		<%= render 'shared/left_nav' %>
		<div id="content-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<%= render 'shared/messages' %>
					<div class="row">
						<div class="col-lg-12">							
							<h1>Create A New Coupon</h1>
						</div>
					</div>
					<div class="row" id="user-profile">						
						<div class="col-lg-9 col-md-8 col-sm-8">
							<div class="main-box clearfix">
								<div class="tabs-wrapper profile-tabs">
									<ul class="nav nav-tabs">
										<li class="active"><a href="#tab-newsfeed" data-toggle="tab">Coupon Info</a></li>
									</ul>
									
									<div class="tab-content">
										<div class="tab-pane fade in active" id="tab-newsfeed">
											<%= form_for @coupon do |f| %>
												<%= f.hidden_field :user_id, value: @user.id %>
												<%= f.hidden_field :company_id, value: @company.id %>
												<%= f.hidden_field :currency, value: "usd" %>
												<div class="row">
													<div class="col-md-6">
														<%= f.label :name %>
														<%= f.text_field :name, placeholder: "Fall Deal", class: "form-control", required: true %><br />
														<%= f.label :duration, "How Long Will This Coupon Be Valid?" %>
														<%= f.select :duration, options_for_select([["Forever", "forever"], ["Repeating Over Months", "repeating"], ["Once", "once"]]), class: "form-control", required: true %><br />
													</div>
													<div class="col-md-6">
														<%= f.label :amount_off, "Amount Off (Whole Number)" %>
														<%= f.text_field :amount_off, data: {autonumeric: true, aSign: 'USD'}, placeholder: "10", class: "form-control" %><br />
													</div>
													<div class="col-md-12">
														<%= f.submit "Create Coupon", class: "btn btn-success pull-right" %>
													</div>
												</div>
											<% end %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		  <%= render 'shared/footer' %>
		</div>
	</div>
</div>
</div>