<div id="nav-col">
	<section id="col-left" class="col-left-nano">
		<div id="col-left-inner" class="col-left-nano-content">
			<div id="user-left-box" class="clearfix hidden-sm hidden-xs">
					<center>
						<% if current_user.company.logo.present? %>
							<%= image_tag(current_user.company.logo)  %>
						<% else %>
							<h1><%= link_to "Upload Your Logo", edit_company_path(current_user.company) %></h1>
						<% end %>
					</center>
				<div class="user-box">
					<span class="name">
						<%= @user.first_name %> <%= @user.last_name %>
					</span>
				</div>
			</div>
			<div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">	
				<ul class="nav nav-pills nav-stacked">
					<li class="<%= 'active' if current_page?(company_path(current_user.company)) %>">
						<%= link_to company_path(current_user.company) do %>
							<i class="fa fa-dashboard"></i>
							<span>Dashboard</span>
						<% end %>
					</li>
					<% if !@user.access_code.nil? %>
						<li>
							<a href="#">
								<i class="fa fa-phone"></i>
								<span>Customers</span>
							</a>
	 					</li>
						<li>
							 
		 					<%= link_to payment_form_path(current_user.company.id), target: "_blank" do %>
		 					<i class="fa fa-usd"></i>
		 					<span>My Payment Form</span>
		 					<span class="label label-success label-circle pull-right"><i class="fa fa-external-link"></i></span>
		 					<% end %>
		 						
	 					</li>
 					<% end %>
				</ul>
			</div>
		</div>
	</section>
</div>