	<div id="theme-wrapper">
		<header class="navbar" id="header-navbar">
			<div class="container-app">
				<%= link_to company_path(current_user.company), class: "navbar-brand", id: "logo" do %>
					<%= image_tag("logo.png", class: "normal-logo logo-white") %>
					<%= image_tag("logo-black.png", class: "normal-logo logo-black") %>
					<%= image_tag("logo-small.png", class: "small-logo hidden-xs hidden-sm hidden") %>
				<% end %>
				
				<div class="clearfix">
				<button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="fa fa-bars"></span>
				</button>
				
				<div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
					<ul class="nav navbar-nav pull-left">
						<li>
							<a class="btn" id="make-small-nav">
								<i class="fa fa-bars"></i>
							</a>
						</li>
					</ul>
				</div>
				
				<div class="nav-no-collapse pull-right" id="header-nav">
					<ul class="nav navbar-nav pull-right">
						<li class="dropdown hidden-xs">
							<a class="btn dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-warning"></i>
								<span class="count">8</span>
							</a>
							<ul class="dropdown-menu notifications-list">
								<li class="pointer">
									<div class="pointer-inner">
										<div class="arrow"></div>
									</div>
								</li>
								<li class="item-header">You have 6 new notifications</li>
								<li class="item">
									<a href="#">
										<i class="fa fa-comment"></i>
										<span class="content">New comment on ‘Awesome P...</span>
										<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
									</a>
								</li>
								<li class="item">
									<a href="#">
										<i class="fa fa-plus"></i>
										<span class="content">New user registration</span>
										<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
									</a>
								</li>
								<li class="item">
									<a href="#">
										<i class="fa fa-envelope"></i>
										<span class="content">New Message from George</span>
										<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
									</a>
								</li>
								<li class="item">
									<a href="#">
										<i class="fa fa-shopping-cart"></i>
										<span class="content">New purchase</span>
										<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
									</a>
								</li>
								<li class="item">
									<a href="#">
										<i class="fa fa-eye"></i>
										<span class="content">New order</span>
										<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
									</a>
								</li>
								<li class="item-footer">
									<a href="#">
										View all notifications
									</a>
								</li>
							</ul>
						</li>
						<li class="dropdown profile-dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                			<span class="hidden-xs"><%= @user.first_name %> <%= @user.last_name %></span> <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li>
									<%= link_to edit_user_registration_path(@user), class: "table-link" do %>
										<i class="fa fa-user"></i>My Info
									<% end %>
							    </li>
								<li>
									<%= link_to edit_company_path(current_user.company), class: "table-link" do %>
										<i class="fa fa-building"></i>Company Info
									<% end %>
							    </li>
								<li>
									<%= link_to users_path, class: "table-link" do %>
										<i class="fa fa-users"></i>Users
									<% end %>
							    </li>

								<li><a href="#"><i class="fa fa-envelope-o"></i>Messages</a></li>
								<li>
									<%= link_to destroy_user_session_path, method: :delete do %>
										<i class="fa fa-power-off"></i>Logout
									<% end %>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				</div>
			</div>
		</header>
		<div id="page-wrapper" class="container-app">