<%= render 'shared/nav_top' %>
	<div class="row">
		<%= render 'shared/left_nav' %>
		<div id="content-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<%= render 'shared/messages' %>
					<div class="row">
						<div class="col-lg-12">							
							<h1>Customer</h1>
						</div>
					</div>
					
					<div class="row" id="user-profile">						
						<div class="col-lg-9 col-md-8 col-sm-8">
							<div class="main-box clearfix">
								<div class="tabs-wrapper profile-tabs">
									<ul class="nav nav-tabs">
										<li class="active"><a href="#tab-newsfeed" data-toggle="tab">Customer Info</a></li>
									</ul>
									
									<div class="tab-content">
										<div class="tab-pane fade in active" id="tab-newsfeed">
											<div id="newsfeed">
												<div class="story">
													<div class="story-content">
														<header class="story-header">
															<div class="story-time pull-right">
																<i class="fa fa-clock-o"></i> <%= @customer.company.company_name %> customer since: <%= @customer.created_at.strftime("%b %Y") %>
															</div>									
															<div class="story-author">
																Customer: <%= @customer.customer_name %>
															</div><br />
															<div class="story-author">
																Email: <%= mail_to @customer.customer_email, @customer.customer_email, target: "_blank" %>
															</div><br />
															<div class="story-author">
																Default Credit Card: <%= @brand %> | <%= @default_last_4 %>
															</div><br />
															
														</header>
														<h3>All Credit Cards</h3>
														<% @all_cards.each do |c| %>
															<div class="story-inner-content">
																<%= c[:last4] %> | <%= c[:brand] %>
																<p class="pull-right"><%= c[:exp_month] %> / <%= c[:exp_year] %></p>
															</div>	
														<% end %>
													</div>
												</div>
											</div>
										<%= link_to "Edit Customer", edit_customer_path(@customer), class: "pull-right" %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12">							
							<h1>Payments By This Customer</h1>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12">
							<div class="main-box no-header clearfix">
								<div class="main-box-body clearfix">
									<div class="table-responsive">
										<table class="table user-list table-hover">
											<thead>
												<tr>
													<th class="text-center"><span>Amount</span></th>
													<th class="text-center"><span>Credit Card Used</span></th>
													<th class="text-center"><span>Plan</span></th>
													<th class="text-center"><span>Payment Date</span></th>
													<th>&nbsp;</th>
												</tr>
											</thead>
											<tbody>
											  <% @payments.each do |p| %>
												<tr>
													<td class="text-center">
						                                <%= number_to_currency(p.amount) %>
													</td>
													<td class="text-center">
														<% if p.last_4.present? && p.stripe_charge_id.present? %>
						                                	<%= p.last_4 %> | <%= Stripe::Charge.retrieve(p.stripe_charge_id)[:source][:brand] %>
						                                <% end %>
													</td>
													<td class="text-center">
														<%= Plan.find(p.plan_id).name unless p.plan_id.nil? %>
													</td>
													<td class="text-center">
														<%= p.created_at.strftime("%m/%d/%Y") %>
													</td>
												</tr>
											  <% end %>
											</tbody>
										</table>
										<%= paginate @payments %>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-12">							
							<h1>Reviews By This Customer</h1>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12">
							<div class="main-box no-header clearfix">
								<div class="main-box-body clearfix">
									<div class="table-responsive">
										<table class="table user-list table-hover">
											<thead>
												<tr>
													<th class="text-center"><span>Score</span></th>
													<th class="text-center"><span>Comments</span></th>
													<th class="text-center"><span>Review Date</span></th>
													<th>&nbsp;</th>
												</tr>
											</thead>
											<tbody>
											  <% @reviews.each do |r| %>
												<tr>
													<td class="text-center">
						                                <%= r.score %>
													</td>
													<td class="text-center">
						                                <%= truncate(r.comments, length: 100) %>
													</td>
													<td class="text-center">
														<%= r.created_at.strftime("%m/%d/%Y") %>
													</td>
													<td style="width: 20%;">
														<%= link_to r, class: "table-link" do %>
															<span class="fa-stack">
																<i class="fa fa-square fa-stack-2x"></i>
																<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
															</span>
														<% end %>																
														<%= link_to r, method: :delete, data: {confirm: "Are you sure?"}, class: "table-link danger" do %>
															<span class="fa-stack">
																<i class="fa fa-square fa-stack-2x"></i>
																<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
															</span>
														<% end %>
													</td>
												</tr>
											  <% end %>
											</tbody>
										</table>
										<%= paginate @reviews %>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12">							
							<h1>Plans This Customer Belongs To</h1>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12">
							<div class="main-box no-header clearfix">
								<div class="main-box-body clearfix">
									<% if @customer.plans.any? %>
										<div class="table-responsive">
											<table class="table user-list table-hover">
												<thead>
													<tr>
														<th class="text-center"><span>Plan Name</span></th>
														<th class="text-center"><span>Amount/interval</span></th>
														<th class="text-center"><span>Created Date</span></th>
														<th>&nbsp;</th>
													</tr>
												</thead>
												<tbody>
												  <% @subscriptions.each do |s| %>
													<tr>
														<td class="text-center">
							                                <%= link_to s.plan.name, s.plan %>
														</td>
														<td class="text-center">
							                                <%= number_to_currency(s.plan.amount) %> / <%= s.plan.interval %>
														</td>
														<td class="text-center">
															<%= s.created_at.strftime("%m/%d/%Y") %>
														</td>
														<td style="width: 20%;">															
															<%= link_to [s.plan, s], method: :delete,  class: "table-link danger" do %>
																<span class="fa-stack">
																	<i class="fa fa-square fa-stack-2x"></i>
																	<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
																</span>
															<% end %>
														</td>
													</tr>
												  <% end %>
												</tbody>
											</table>
											<%= paginate @subscriptions %>
										</div>
									<% else %>
										<center>
											<%= link_to "Add A Service Plan For This Customer", plans_path, class: "btn btn-lrg btn-success" %>
										</center>
									<% end %>
								</div>
							</div>
						</div>
					</div>

					<h1>Service Plan Invoices</h1>

					<div class="row">
						<div class="col-lg-12">
							<div class="main-box no-header clearfix">
								<div class="main-box-body clearfix">
									<div class="table-responsive">
										<table class="table user-list table-hover">
											<thead>
												<tr>
													<th><span>Customer Name</span></th>
													<th><span>Service Plan</span></th>
													<th><span>Period</span></th>
													<th><span>Amount</span></th>
													<th><span>Created</span></th>
													<th><span>Status</span></th>
													<th>&nbsp;</th>
												</tr>
											</thead>
											<tbody>
											  <% @stripe_invoices.each do |i| %>
												<tr>
													<td>
						                                <%= @customer.customer_name %>
													</td>
													<td>
						                                <%= i[:lines][:data][0][:plan][:id] %>
													</td>
													<td>
														<%= Time.at(i[:lines][:data][0][:period][:start].to_s.to_f).to_datetime.strftime("%m/%d/%Y") %> - <%= Time.at(i[:lines][:data][0][:period][:end].to_s.to_f).to_datetime.strftime("%m/%d/%Y")  %>
													</td>
													<td>
														<%= number_to_currency(i[:total]) %>
													</td>
													<td>
														<%= Time.at(i[:date].to_s.to_f).to_datetime.strftime("%m/%d/%Y") %>
													</td>
													<td style="width: 20%;">
														<% if i[:paid] == true %>
															<span class="label label-success">Paid</span>
														<% else %>
															<span class="label label-danger">Failed Payment | Next Attempt <%= Time.at(i[:next_payment_attempt].to_s.to_f).to_datetime.strftime("%m/%d/%Y") %></span>
														<% end %>
													</td>
												</tr>
											  <% end %>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		  <%= render 'shared/footer' %>
		</div>
	</div>
</div>
</div>