<%= render 'shared/nav_top' %>
	<div class="row">
		<%= render 'shared/left_nav' %>
		<div id="content-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<%= render 'shared/messages' %>
					<div class="row">
						<div class="col-lg-12">							
							<h1>Company Profile</h1>
						</div>
					</div>
					
					<div class="row" id="user-profile">
						<div class="col-lg-3 col-md-4 col-sm-4">
							<div class="main-box clearfix">
								<header class="main-box-header clearfix">
									<center><h2><%= @company.company_name %></h2></center>
								</header>
								
								<div class="main-box-body clearfix">
									<div class="profile-since">
										Service Pay Company since: <%= @company.created_at.strftime("%b %Y") %>
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="col-lg-9 col-md-8 col-sm-8">
							<div class="main-box clearfix">
								<div class="tabs-wrapper profile-tabs">
									<ul class="nav nav-tabs">
										<li class="active"><a href="#tab-newsfeed" data-toggle="tab">Company Info</a></li>
									</ul>
									
									<div class="tab-content">
										<div class="tab-pane fade in active" id="tab-newsfeed">
											<%= form_for @company do |f| %>
												<div class="row">
													<div class="col-md-6">
														<%= f.label :company_name %>
														<%= f.text_field :company_name, class: "form-control" %><br />

														<%= f.label :phonenumber %>
														<%= f.text_field :phonenumber, class: "form-control", id: "company_phonenumber maskedPhone" %><br />

														<%= f.label :logo %>
														<%= f.file_field :logo, class: "form-control" %><br />

														<%= image_tag(@company.logo) if @company.logo.present? %>
													</div>
													<div class="col-md-6">
														<%= f.label :address_one %>
														<%= f.text_field :address_one, class: "form-control" %><br />

														<%= f.label :address_two %>
														<%= f.text_field :address_two, class: "form-control" %><br />

														<%= f.label :city %>
														<%= f.text_field :city, class: "form-control" %><br />

														<div class="form-group form-group-select2">	
															<%= f.label :state %>
															<%= f.select :state, options_for_select(us_states, @company.state), {}, style: "width:300px", id: "company_state sel2" %><br /><br />
															<%= f.label :postcode, "Zip Code" %>									    
														    <%= f.text_field :postcode %>
													    </div
													</div>
													<div class="col-md-12">
														<%= f.submit "Save Changes", class: "btn btn-success pull-right" %>
													</div>
												</div>
											<% end %>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					
				</div>
			</div>
		  <%= render 'shared/footer' %>
		</div>
	</div>
</div>
</div>