<%= render 'shared/nav_top' %>
	<div class="row">
		<%= render 'shared/left_nav' %>
		<div id="content-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<%= render 'shared/messages' %>
					<div class="row">
						<div class="col-lg-12">							
							<h1>Company Profile</h1>
						</div>
					</div>
					
					<div class="row" id="user-profile">
						<div class="col-lg-3 col-md-4 col-sm-4">
							<div class="main-box clearfix">
								<header class="main-box-header clearfix">
									<center><h2><%= @company.company_name %></h2></center>
								</header>
								
								<div class="main-box-body clearfix">
									<div class="profile-since">
										Service Pay Company since: <%= @company.created_at.strftime("%b %Y") %>
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="col-lg-9 col-md-8 col-sm-8">
							<div class="main-box clearfix">
								<div class="tabs-wrapper profile-tabs">
									<ul class="nav nav-tabs">
										<li class="active"><a href="#tab-newsfeed" data-toggle="tab">Company Info</a></li>
									</ul>


									
									<div class="tab-content">
										<div class="tab-pane fade in active" id="tab-newsfeed">
											<%= form_for @company do |f| %>
												<div class="row">
													<div class="col-md-6">
														<%= f.label :company_name %>
														<%= f.text_field :company_name, class: "form-control" %><br />

														<%= f.label :phonenumber %>
														<%= f.text_field :phonenumber, class: "form-control", id: "company_phonenumber maskedPhone" %><br />

														<%= f.label :description %>
														<%= f.text_area :description, cols: 20, rows: 4, placeholder: "What do you sell and when do you charge your customers", class: "form-control" %><br />

														<%= f.label :logo %>
														<%= f.file_field :logo, class: "form-control" %><br />

														<%= image_tag(@company.logo, size: "150x150") if @company.logo.present? %>
													</div>
													<div class="col-md-6">
														<%= f.label :address_one %>
														<%= f.text_field :address_one, class: "form-control" %><br />

														<%= f.label :address_two %>
														<%= f.text_field :address_two, class: "form-control" %><br />

														<%= f.label :city %>
														<%= f.text_field :city, class: "form-control" %><br />

														<%= f.label :state %>
														<%= f.select :state, options_for_select(us_states, @company.state), {}, style: "width:300px", id: "company_state sel2", class: "form-control" %><br />
														<%= f.label :postcode, "Zip Code" %>									    
													    <%= f.text_field :postcode, class: "form-control" %><br />

													    <%= f.label :google, "Google+ Listing" %>
														<%= f.text_field :google, value: @company.google, placeholder: "Google+ Listing", class: "form-control" %><br />

													    <%= f.label :yelp, "Yelp Listing" %>
														<%= f.text_field :yelp, value: @company.yelp, placeholder: "Yelp Listing", class: "form-control" %><br />

														<%= f.label :facebook, "Facebook Page" %>
														<%= f.text_field :facebook, value: @company.facebook, placeholder: "Facebook Page", class: "form-control" %><br />
													</div>
													<div class="col-md-12">
														<%= f.submit "Save Changes", class: "btn btn-success pull-right" %>
													</div>

													<div class="col-md-12">
														<h3>Integrations</h3>
														<ul class="integrations">
															<li>					
																<% if @company.quickbooks_token.nil? %>
				      												<ipp:connectToIntuit></ipp:connectToIntuit>
				    											<% else %>
				    												<center>
				    													<%= image_tag 'qbo_logo.png', class: "img-responsive" %>
				    													Quickbooks is Connected!
				    												</center>
				    											<% end %>
															</li>	
														</ul>

													</div>
												</div>
											<% end %>
											<%= link_to "Delete Account", company_path, method: :delete, data: {confirm: "Are you sure? This will delete all information associated with your account"}, class: "table-link danger" %>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					
				</div>
			</div>
		  <%= render 'shared/footer' %>
		</div>
	</div>
</div>
</div>

<%= render 'shared/empty_morris_div' %>

<% if @company.quickbooks_token.nil? %>

	<script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>

	<script>
	    intuit.ipp.anywhere.setup({menuProxy: '/path/to/blue-dot', grantUrl: '<%= authenticate_companies_url %>'});
	</script>

<% end %>