    <!-- =========================
         PRELOADER
    ============================== -->
    <div class="preloader">
        <div class="loader-container">
            <div class="text-logo">Service Pay</div>
            <div class="signal"></div>
        </div>
    </div> 
    
<div class="front">

    <!-- =========================
         HEADER
    ============================== -->
    <header class="header" id="top" data-stellar-background-ratio="0.5">
        <!-- Background Overlay -->
        <div class="overlay">

            <!-- =========================================
                 Navigation
            ========================================== -->
            <nav class="navbar-front navbar-fixed-top" role="navigation">
                <div class="container-front">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Navbar-Header -->
                            <div class="navbar-header">
                                
                                <!-- Mobile Menu -->
                                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                    <i class="icon icon_menu"></i>
                                </button>

                                <!-- Text-Logo 
                                <a href="#top" class="navbar-brand scrollto" title="LEADgen 2.0">
                                    <span class="img-logo"><img src="assets/images/LEADgen2.png" height="80px"/></span>
                                </a> -->

                                <!-- Image-Logo: Remove this comments and the section above Text-Logo if you want to add an Image-Logo (recommended sizes -> max-height:50, max-width:200) -->

                                <a href="#top" class="navbar-brand img-logo scrollto" title="LEADgen 2.0">
                                    <%= image_tag("logo.png", class: "normal-logo logo-white") %>
                                </a> 
                                

                            </div><!-- /End Navbar-Header -->

                            <!-- Navbar-Collapse -->
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-nav-front navbar-right">
                                    <!-- Login and Signup Modal on click -->
                                    <% if user_signed_in? %>
                                        <li><%= link_to "Dashboard", company_path(current_user.company), class: "btn-front btn-nav nav-link" %></li>
                                    <% else %>
                                        <li><%= link_to "Login", new_user_session_path, class: "btn-front btn-nav nav-link" %></li>
                                        <li><a class="btn-front btn-nav btn-color scrollto" href="#top">Sign Up</a></li>
                                    <% end %>
                                </ul>
                            </div><!-- /End Navbar-Collapse -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container -->
            </nav><!-- /End Sticky Navigation -->



            <!-- =========================================
                 Login/Signup Bootstrap Modal
            ==========================================  -->
            <div class="modal fade login" id="loginModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        
                        <!-- Modal-Header -->
                        <div class="modal-header">
                            <!-- Close Button -->
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <i class="icon icon_close_alt2"></i>
                            </button>
                            <!-- Modal-Header Title-->
                            <h4 class="modal-title">Sign in to<span>LEADgen 2.0</span></h4>
                            <p class="modal-subtitle">Enter your email and password</p>
                        </div><!-- /End Modal-Header -->

                        <!-- Modal-Body Content -->
                        <div class="modal-body">  
                            <div class="box">
                                 <div class="content">
                                    <!-- Login Form -->
                                    <div class="loginBox">
                                        <form id="login-modal" role="form">
                                            <!-- Success/Alert Notification -->
                                            <p class="lm-success"><i class="icon icon_check_alt2"></i> <strong>Logging You In Now...</strong></p>
                                            <p class="lm-failed"><i class="icon icon_close_alt2"></i><strong> Something went wrong! Make Sure Your Username and Password Were Correct</strong></p>
                                            <!-- Input Fields -->
                                            <input id="lm-email" class="form-control input-lg" type="text" placeholder="Email" name="lm-email" required>
                                            <input id="lm-password" class="form-control input-lg" type="password" placeholder="Password" name="lm-password" required>
                                            <!-- Login Button -->
                                            <button class="btn btn-color" type="submit">Login</button>
                                        </form>
                                    </div><!-- /End Login Form -->
                                 </div>
                            </div><!-- /End Login Form Box -->
                            <div class="box">
                                <!-- Signup Form -->
                                <div class="content registerBox" style="display:none;">
                                    <form id="signup-modal" role="form">
                                        <!-- Success/Alert Notification -->
                                        <p class="sm-success"><i class="icon icon_check_alt2"></i> <strong>Congratulation! Signup modal validation is working. Implement your code.</strong></p>
                                        <p class="sm-failed"><i class="icon icon_close_alt2"></i><strong> Something went wrong! Insert correct value.</strong></p>
                                        <!-- Input Fields -->
                                        <input id="sm-email" class="form-control input-lg" type="text" placeholder="Email" name="sm-email" required>
                                        <input id="sm-password" class="form-control input-lg" type="password" placeholder="Password" name="sm-password">
                                        <input id="sm-confirm" class="form-control input-lg" type="password" placeholder="Repeat Password" name="sm-confirm">
                                        <!-- Signup Button -->
                                        <button class="btn btn-color">Create Account</button>
                                    </form>
                                    
                                </div><!-- /End Signup Form -->
                            </div><!-- /End Signup Form Box -->
                        </div><!-- /End Modal-Body -->

                        <!-- Modal-Footer -->
                        <div class="modal-footer">
                            <!-- Login-Footer. Redirect to Signup-Modal-->
                            <div class="forgot login-footer">
                                <span>Don't have an account? 
                                     <a href="#canvas-bg" class="scrollto">Sign up.</a>
                                </span>
                            </div>
                            <!-- Signup-Footer. Redirect to Login-Modal -->
                            <div class="forgot register-footer" style="display:none">
                                 <span>Already have an account?</span>
                                 <a href="javascript: showLoginForm();">Login</a>
                            </div>
                        </div><!-- /End Modal-Footer -->      
                      
                    </div><!-- /End Modal Content -->
                </div><!-- /End Modal Dialog -->
            </div><!-- /End Modal -->

            
            <!-- =========================================
                 Hero-Section
            ========================================== -->
                <div class="container-front vmiddle fast-reg">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-section">
                                    <% if user_signed_in? %>
                                    <center>
                                        <h2 class="text-white hero-title">Hey <%= current_user.first_name.titleize %> <%= current_user.last_name.titleize %></h2>
                                        <%= link_to company_path(current_user.company), class: "btn-front btn-color btn-hero" do %>
                                            Go To Your Dashboard <i class="fa fa-arrow-right"></i>
                                        <% end %>
                                    </center>

                                    <% else %>    
                                        <!-- Welcome - Hero Message -->
                                        <h1 class="text-white hero-title">Payments Made Easy</h1>
                                        <p class="text-white hero-title">Service Pay is a Payments System Designed For the Service Industry</p>
                                        
                                    <div class="col-sm-12">                                    
                                        <div class="fast-reg-box">

                                            <%= form_for @company, html: { id: "fast-reg", role: "form"} do |f| %>
                                                <div class="form-group">
                                                    <%= f.text_field :company_name, id: "company_company_name fast-email", class: "form-control input-lg", placeholder: "Company Name", required: true %>
                                                </div>
                                                <!-- Signup Button -->
                                                <%= f.submit "Get Started", class: "btn-front btn-color" %>                                            
                                            <% end %>
                                            <%= link_to image_tag('stripe-connect-3.png'), user_omniauth_authorize_path(:stripe_connect, scope: "read_write") %>
                                        </div><!-- /End Fast-Reg -->
                                    </div><!-- /End Col -->
                              <% end %>
                              <%= image_tag "solid.png", style: "margin-top:15px;"%>
                            </div><!-- /End Intro-Section -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->


        </div><!-- /End Background Overlay -->
    </header>
    <%= render 'shared/messages' %>
    <!-- =========================
         /END HEADER
    ============================== -->

    
    <!-- =================================
         SECTION ABOUT - INTRO FEATURES
    ====================================== -->
    <section class="intro-features white-bg" id="about">
        <div class="container-front">
            <!-- Padding -->
            <div class="wrapper-lg">
                <div class="row">
                    <!-- Section Header Title -->
                    <div class="col-xs-12">
                        <h2>More Visits, More Leads, More Customers</h2>
                        <p class="large">Our Team Has Years of Experience Generating Leads Online For HVAC Contractors</p>
                    </div>
                </div>
                <!-- Three Main Features with Icons -->
                <div class="row">
                    <div class="col-sm-4 intro-content">
                        <div class="icon-lg">
                            <i class="fa fa-desktop fa-4"></i>&nbsp;&nbsp;<i class="fa fa-mobile"></i>
                        </div>
                        <h4>A Modern Website</h4>
                        <p>Get a modern website, that looks good on all screen sizes, performs well in search engines, and turns visitors into customers.</p>
                    </div>
                    <div class="col-sm-4 intro-content">
                        <div class="icon-lg">
                            <i class="fa fa-map-marker fa-4"></i>
                        </div>
                        <h4>Online Marketing</h4>
                        <p>We take care of everything to get you ranking well on Google & Other Search Engines. Search Engine Optimization (SEO), Local Listings, and everything else you need.</p>  
                    </div>
                    <div class="col-sm-4 intro-content">
                        <div class="icon-lg">
                            <i class="fa fa-bar-chart fa-4"></i>
                        </div>
                        <h4>Track Everything</h4>
                        <p>Use our Lead Tracking system to track everything. Our Call Reviewers review everything so you can track actual leads coming in, not just web rankings or a list of phone calls.</p>
                    </div>
                </div><!-- /End Row -->
            </div><!-- /End Wrapper -->
        </div><!-- /End Container -->
    </section>
    <!-- =============================
         /END INTRO FEATURES
    ============================== -->
    
    
    <!-- ==================================================
        FOOTER
    ======================================================= -->
    <footer class="footer dark-bg" id="footer">
        <div class="container-front">
            <div class="wrapper-lg">
                <div class="row">
                    <!-- Footer Left Col -->
                    <div class="col-md-5">
                            <!-- Logo -->
                            <a href="#top" class="scrollto" title="SmartMvp">
                                <span class="text-logo">LEADgen 2.0</span>
                            </a>
                            <p class="footer-hero">Lead Generation for Modern HVAC Contractors.</p>
                            <p class="footer-text">An internet marketing program brought to you by your partners at Rheem & Ruud and powered by the internet marketing experts at Kinertia LLC.</p>
                            <p class="footer-cta">What are you waiting for?
                                <a href="#canvas-bg" class="btn-front btn-color scrollto">Sign Up Today</a>
                            </p> 
                    </div>
                    <!-- Footer Contact Col -->
                    <div class="col-md-3">
                        <h5 class="text-white">Reach Out To Us</h5>
                        <div class="contact-item">
                            <div class="contact-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="contact-content">
                                <%= mail_to "support@leadgenhvac.com", "support@leadgenhvac.com", target: "_blank" %>
                            </div>
                        </div>
                        <div class="contact-item">
                            <div class="contact-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="contact-content">
                                (888) 414-2399
                            </div>
                        </div>
                    </div>
                    <!-- Footer Right Col: Twitter Feed -->
                    <div class="col-md-4">
                            <%= image_tag "leadgen2.png", class: "footer-logo" %><br/>
                    </div>

                    <!-- Footer Menu and Copy -->
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="footer-nav">
                                <li>
                                    <%= link_to "Kinertia", "http://www.kinertia.com", target: "_blank" %>
                                </li>
                                <li>
                                    <%= mail_to "support@leadgenhvac.com", "Support", target: "_blank" %>
                                </li>
                                <li>
                                    <%= link_to "Terms & Conditions", "#", target: "_blank" %>
                                </li>
                            </ul>
                            <p class="footer-copy">&copy; 2014 - TrackLocal</p>
                        </div>
                    </div>
                    
                </div><!-- End Row -->
            </div><!-- /End Wrapper -->
        </div><!-- /End Container -->
    </footer>
</div>