    <!-- =========================
         PRELOADER
    ============================== -->
    <div class="preloader">
        <div class="loader-container">
            <div class="text-logo">Service Pay</div>
            <div class="signal"></div>
        </div>
    </div> 
    
<div class="front">

    <!-- =========================
         HEADER
    ============================== -->
    <header class="header" id="top" data-stellar-background-ratio="0.5">
        <!-- Background Overlay -->
        <div class="overlay">

            <!-- =========================================
                 Navigation
            ========================================== -->
            <nav class="navbar navbar-fixed-top" role="navigation">
                <div class="container-front">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Navbar-Header -->
                            <div class="navbar-header">
                                
                                <!-- Mobile Menu -->
                                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                    <i class="icon icon_menu"></i>
                                </button>

                                <!-- Text-Logo 
                                <a href="#top" class="navbar-brand scrollto" title="LEADgen 2.0">
                                    <span class="img-logo"><img src="assets/images/LEADgen2.png" height="80px"/></span>
                                </a> -->

                                <!-- Image-Logo: Remove this comments and the section above Text-Logo if you want to add an Image-Logo (recommended sizes -> max-height:50, max-width:200) -->

                                <a href="#top" class="navbar-brand img-logo scrollto" title="Service Pay">
                                    <%= image_tag("logo.png", class: "normal-logo logo-white") %>
                                </a> 
                                

                            </div><!-- /End Navbar-Header -->

                            <!-- Navbar-Collapse -->
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-nav-front navbar-right">
                                    <!-- Login and Signup Modal on click -->
                                    <% if user_signed_in? %>
                                        <li><%= link_to "Dashboard", company_path(current_user.company), class: "btn-front btn-nav nav-link" %></li>
                                    <% else %>
                                        <li><%= link_to "Login", new_user_session_path, class: "btn-front btn-nav nav-link" %></li>
                                    <% end %>
                                </ul>
                            </div><!-- /End Navbar-Collapse -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container -->
            </nav><!-- /End Sticky Navigation -->

            
            <!-- =========================================
                 Hero-Section
            ========================================== -->
                <div class="container-front vmiddle fast-reg">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-section">
                                    <% if user_signed_in? %>
                                    <center>
                                        <h2 class="text-white hero-title">Hey <%= current_user.first_name.titleize %> <%= current_user.last_name.titleize %></h2>
                                        <%= link_to company_path(current_user.company), class: "btn-front btn-color btn-hero" do %>
                                            Go To Your Dashboard <i class="fa fa-arrow-right"></i>
                                        <% end %>
                                    </center>

                                    <% else %>    
                                        <!-- Welcome - Hero Message -->
                                        <h1 class="text-white hero-title">Payments & Marketing Automation</h1>
                                        <p class="text-white hero-title">Accept Payments Wherever Your Customers Are and Start a Long Lasting Relationship</p>
                                    <div class="col-sm-12">                                    
                                        <div class="fast-reg-box">
                                            <%= form_for @company, html: { id: "fast-reg", role: "form"} do |f| %>
                                                <div class="form-group">
                                                    <%= f.text_field :company_name, id: "company_company_name fast-email", class: "form-control input-lg", placeholder: "Company Name", required: true %>
                                                </div>
                                                <!-- Signup Button -->
                                                <%= f.submit "Get Started", class: "btn-front btn-color" %>                                            
                                            <% end %>
                                        </div><!-- /End Fast-Reg -->
                                    </div><!-- /End Col -->
                              <% end %>
                              <%= image_tag "solid.png", style: "margin-top:15px;"%>
                            </div><!-- /End Intro-Section -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->


        </div><!-- /End Background Overlay -->
    </header>
    <%= render 'shared/messages' %>
    <!-- =========================
         /END HEADER
    ============================== -->

    
    <!-- =================================
         SECTION ABOUT - INTRO FEATURES
    ====================================== -->
    <section class="intro-features white-bg" id="about">
        <div class="container-front">
            <!-- Padding -->
            <div class="wrapper-lg">
                <!-- Three Main Features with Icons -->
                <div class="row">
                    <div class="col-sm-4 intro-content">
                        <div class="icon-lg">
                            <i class="fa fa-usd fa-4"></i>
                        </div>
                        <h4>Payments</h4>
                        <p>Making it easy for your customers to pay you just makes sense. There's no need for credit card machines or phone calls back and forth. Let your customers pay you how they want.</p>
                    </div>
                    <div class="col-sm-4 intro-content">
                        <div class="icon-lg">
                            <i class="fa fa-thumbs-up fa-4"></i>
                        </div>
                        <h4>Customer Reviews</h4>
                        <p>No more awkward conversations at the end of a job, no more hoping for reviews to appear out of no where. Use our system to ask every customer after every job to refer your business to their friends and family.</p>  
                    </div>
                    <div class="col-sm-4 intro-content">
                        <div class="icon-lg">
                            <i class="fa fa-lock fa-4"></i>
                        </div>
                        <h4>Clear Pricing & Security</h4>
                        <p>3.2% For Visa/Mastercard/etc. 3.5% for American Express. Our system is built on top of Stripe, one of the leading payment processors in the world today. It powers payments for many of today's largest brands such as Apple, Facebook, and Lyft.</p>
                    </div>
                </div><!-- /End Row -->
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <%= link_to "Learn More", learn_more_path, class: "btn btn-lg btn-success col-md-8 learn-btn" %>
                        </center>
                    </div>
                </div>
            </div><!-- /End Wrapper -->
        </div><!-- /End Container -->
    </section>
    <!-- =============================
         /END INTRO FEATURES
    ============================== -->
    
    
    <!-- ==================================================
        FOOTER
    ======================================================= -->
    <footer class="footer dark-bg" id="footer">
        <div class="container-front">
            <div class="wrapper-lg">
                <div class="row">
                    <!-- Footer Left Col -->
                    <div class="col-md-5">
                            <!-- Logo -->
                            <a href="#top" class="scrollto" title="SmartMvp">
                                <span class="text-logo">Service Pay</span>
                            </a>
                            <p class="footer-hero">Payments For service professionals</p>
                            <p class="footer-text">Service Pay is an online payments processor for service professionals. Service Pay is here to make it easy for your customers to pay you, review your company, and refer their friends to your business.</p>
                            <p class="footer-cta">What are you waiting for?
                                <a href="#canvas-bg" class="btn-front btn-color scrollto">Sign Up Today</a>
                            </p> 
                    </div>
                    <!-- Footer Contact Col -->
                    <div class="col-md-3">
                        <h5 class="text-white">Reach Out To Us</h5>
                        <div class="contact-item">
                            <div class="contact-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="contact-content">
                                <%= mail_to "support@leadgenhvac.com", "support@leadgenhvac.com", target: "_blank" %>
                            </div>
                        </div>
                        <div class="contact-item">
                            <div class="contact-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="contact-content">
                                (888) 414-2399
                            </div>
                        </div>
                    </div>
                    <!-- Footer Right Col: Twitter Feed -->
                    <div class="col-md-4">
                            <%= image_tag "leadgen2.png", class: "footer-logo" %><br/>
                    </div>

                    <!-- Footer Menu and Copy -->
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="footer-nav">
                                <li>
                                    <%= link_to "Kinertia", "http://www.kinertia.com", target: "_blank" %>
                                </li>
                                <li>
                                    <%= mail_to "support@leadgenhvac.com", "Support", target: "_blank" %>
                                </li>
                                <li>
                                    <%= link_to "Terms & Conditions", "#", target: "_blank" %>
                                </li>
                            </ul>
                            <p class="footer-copy">&copy; 2014 - TrackLocal</p>
                        </div>
                    </div>
                    
                </div><!-- End Row -->
            </div><!-- /End Wrapper -->
        </div><!-- /End Container -->
    </footer>
</div>