			<%= render 'shared/nav_top' %>
			<div class="row">
				<%= render 'shared/left_nav' %>
				<div id="content-wrapper">
					<div class="row">
						<div class="col-lg-12">
						<%= render 'shared/messages' %>
						<% if @user.access_code.nil? %>
							<center>
								<h1>Welcome To Service Pay!</h1>
								<h2>Set Up Your Stripe Account to Start Accepting Payments</h2>
								<%= link_to image_tag('stripe-connect-3.png'), user_omniauth_authorize_path(:stripe_connect, scope: "read_write") %>
							</center>
						<% else %>	
							<div class="row">
								<div class="col-lg-12">									
									<h1>Dashboard</h1>
								</div>
								
							</div>
							
							<%= render 'shared/numbers' %>
							
							<div class="row">
								<div class="col-lg-12">
									<div class="main-box">
										<div class="row">
											<div class="col-lg-12">
												<div class="graph-box emerald-bg">
													<h2>Sales &amp; Earnings</h2>
													<%= content_tag :div, "", id: "payments_chart", data: {payments: payment_chart_data}, class: "graph", style: "max-height: 335px;" %>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg-12">
									<div class="main-box clearfix">
										<header class="main-box-header clearfix">
											<h2 class="pull-left">Payments</h2>
										</header>
										
										<div class="main-box-body clearfix">
											<div class="table-responsive clearfix">
												<table class="table table-hover">
													<thead>
														<tr>
															<th><span>Payment ID</span></a></th>
															<th><span>Customer Name</span></a></th>
															<th><span>Customer Email</span></a></th>
															<th class="text-center"><span>Amount</span></th>
															<th class="text-right"><span>Date</span></th>
															<th>&nbsp;</th>
														</tr>
													</thead>
													<tbody>
													<% @payments.each do |p| %>
														<tr>
															<td>
																#8002
															</td>
															<td>
																<%= p.customer_name %>
															</td>
															<td>
																<%= mail_to p.customer_email, p.customer_email, target: "_blank" %>
															</td>
															<td class="text-center">
																<%= number_to_currency(p.amount) %>
															</td>
															<td class="text-right">
																<%= p.created_at.strftime("%m/%d/%Y") %>
															</td>
															<td class="pull-right">
																<span class="label label-danger">Give Refund</span>
															</td>
														</tr>
													<% end %>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>							
						</div>
					  <% end %>
					</div>
					<%= render 'shared/footer' %>
				</div>
			</div>
		</div>
	</div>
	