<%= render 'shared/nav_top' %>
	<div class="row">
		<%= render 'shared/left_nav' %>
		<div id="content-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<%= render 'shared/messages' %>
					<div class="row">
						<div class="col-lg-12">							
							<h1>Add Customers To <%= @plan.name %> | <%= number_to_currency(@plan.amount) %> / <%= @plan.interval %> </h1>
						</div>
					</div>
					<div class="row" id="user-profile">						
						<div class="col-lg-9 col-md-8 col-sm-8">
							<div class="main-box clearfix">
								<div class="tabs-wrapper profile-tabs">
									<ul class="nav nav-tabs">
										<li class="active"><a href="#tab-newsfeed" data-toggle="tab">Customers</a></li>
									</ul>
									
									<div class="tab-content">
										<div class="tab-pane fade in active" id="tab-newsfeed">
											<%= form_for [@plan, @subscription] do |f| %>
												<%= f.hidden_field :plan_id, value: @plan.id %>
												<div class="row">
													<div class="col-md-6">
														<%= f.select :customer_id, options_from_collection_for_select(@customers_to_add, 'id', 'customer_name'), {}, multiple: true, style: "width: 50%;" %><br />
													</div>
													<div class="col-md-6">

													</div>
													<div class="col-md-12">
														<%= f.submit "Add Customer To Plan", class: "btn btn-success pull-right" %>
													</div>
												</div>
											<% end %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		  <%= render 'shared/footer' %>
		</div>
	</div>
</div>
</div>