<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('<%= @company.publishable_key %>');
  // ...
</script>

<div id="login-full-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-lg-12">
          <div class="main-box thanks-form">
          </div>
        </div>
        <div id="signup-box">
          <div class="row">
            <div class="col-xs-12">
              <header id="signup-header">
                <div id="login-logo">
                  <%= image_tag @company.logo if @company.logo.present? %>
                  <h4 style="color:#fff;">Thank you For Your Business From <br /> <%= @company.company_name %></h4>
                </div>
              </header>
              <div id="signup-box-inner">
                <%= render 'shared/messages' %>
                <% if @coupon.present? %>
                  <center><h3>You Are Getting <%= @coupon.amount_off.nil? ? number_to_percentage(@coupon.percent_off, precision: 0) : number_to_currency(@coupon.amount_off) %> By Using Coupon <%= @coupon.name %>!</h3></center>
                <% end %>
                <%= form_for @payment, html: {id: "payment-form"} do |f| %>
                    <%= f.hidden_field :company_id, value: @company.id %>
                    <%= f.hidden_field :invoice_id, value: params[:invoice_id] %>
                  <div class="col-sm-6">
                    <h2>Your Info</h2>
                    <%= f.fields_for :customers do |c| %>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <%= c.text_field :customer_email, placeholder: "Your Email (For Receipt)", value: params[:email], required: true, autofocus: true, class: "form-control" %>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <%= c.text_field :customer_name, placeholder: "Your Full Name", value: params[:name], required: true, class: "form-control" %>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <%= c.text_field :address_one, placeholder: "Address One", value: params[:address_one], required: true, class: "form-control" %>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <%= c.text_field :address_two, placeholder: "Address Two", value: params[:address_two], class: "form-control" %>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <%= c.text_field :city, placeholder: "City", value: params[:city], required: true, class: "form-control" %>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <%= c.select :state, options_for_select(us_states, selected: params[:state]), {}, class: "form-control", required: true %>
                      
                      
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <%= c.text_field :postcode, placeholder: "Zip Code", value: params[:post], class: "form-control", required: true %>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <%= c.text_field :phone, placeholder: "Mobile Phone Number", value: params[:phone], class: "form-control", required: true %>
                    </div>
                  </div>
                  <% end %>
                  <div class="col-sm-6">
                    <h2>Payment Info</h2>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <%= f.text_field :invoice_number, placeholder: "Invoice Number", value: params[:invoice_number], class: "form-control" %>
                    </div>
                    <% if @company.coupons.any? %>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <%= text_field_tag :coupon_code, nil, placeholder: "Coupon Code", value: params[:coupon], class: "form-control" %>
                      </div>
                    <% end %>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <%= f.text_field :amount, data: {autonumeric: true, aSign: 'USD'}, placeholder: "Amount", value: params[:amount], class: "form-control", required: true %>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input class="form-control" data-stripe="number" maxlength="20" placeholder="Credit Card Number" type="text" required></input>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input class="form-control" data-stripe="cvc" size="10" placeholder="Security Number" type="text" required></input>
                    </div>
                    <div class="input-group">
                      <ul class="dates">
                        <p>Expiration Date</p>
                        <li><%= select_month(Date.today, {add_month_numbers: true},  class: 'form-control', data: {stripe: "exp-month"}, style: "height: 46px;")%></li>
                        <li><%= select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'form-control', data: {stripe: "exp-year"}, style: "height: 46px;") %></li>
                      </ul>
                    </div>
                  </div>
                    <div class="row">
                      <div class="col-xs-12">
                      <%= f.submit "Submit Payment", class: "btn btn-success col-xs-3 pull-right" %>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- this page specific inline scripts -->
<script>
$(function () {
  $("#maskedPhone").mask("(999) 999-9999");
});
</script>
<%= render 'shared/empty_morris_div' %>