<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('<%= @company.publishable_key %>');
  // ...
</script>

<div id="login-full-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <div class="col-lg-12">
            <div class="main-box thanks-form">
              <h1>Thank you For Your Business From <%= @company.company_name %></h1>
              <br />
            </div>
          </div>
        <div id="login-box">
          <div class="row">
            <div class="col-xs-12">
              <header id="login-header">
                <div id="login-logo">
                  <%= image_tag @company.logo if @company.logo.present? %>
                </div>
              </header>
              <div id="login-box-inner">
                <%= render 'shared/messages' %>
                <%= form_for @payment, html: {id: "payment-form"} do |f| %>
                    <%= f.hidden_field :company_id, value: @company.id %>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <%= f.text_field :invoice_number, autofocus: true, placeholder: "Invoice Number", class: "form-control" %>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <%= text_field_tag :coupon_code, nil, placeholder: "Coupon Code", class: "form-control" %>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input class="form-control" id="payment_customer_attributes_customer_name" name="payment[customer_attributes][customer_name]" placeholder="Your Name" type="text" required>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input class="form-control" id="payment_customer_attributes_customer_email" name="payment[customer_attributes][customer_email]" placeholder="Your Email (For Receipt)" type="text" required>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <%= f.text_field :amount, data: {autonumeric: true, aSign: 'USD'}, placeholder: "Amount", class: "form-control", required: true %>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input class="form-control" data-stripe="number" maxlength="20" placeholder="Credit Card Number" type="text" required></input>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input class="form-control" data-stripe="cvc" size="10" placeholder="Security Number" type="text" required></input>
                    </div>
          					<div class="input-group">
          						<center><p>Expiration Date:</p></center>
          						<ul class="dates">
          							<li><%= select_month(Date.today, {add_month_numbers: true},  class: 'form-control', data: {stripe: "exp-month"}, style: "height: 46px;")%></li>
          							<li><%= select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'form-control', data: {stripe: "exp-year"}, style: "height: 46px;") %></li>
          						</ul>
          					</div>
                  <div class="row">
                    <div class="col-xs-12">
                      <%= f.submit "Submit Payment", class: "btn btn-success col-xs-12" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= content_tag :div, "", id: "payments_chart", class: "graph", style: "max-height: 335px;display:none;" %>