<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('<%= @company.publishable_key %>');
  // ...
</script>

<div id="login-full-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-lg-12">
          <div class="main-box thanks-form">
          </div>
        </div>
        <div id="signup-box">
          <div class="row">
            <div class="col-xs-12">
              <header id="signup-header">
                <div id="login-logo">
                  <%= image_tag @company.logo if @company.logo.present? %>
                  <h4 style="color:#fff;">Thank you For Your Business From <%= @company.company_name %></h4>
                </div>
              </header>
              <div id="signup-box-inner">
                <%= render 'shared/messages' %>
                <%= form_for @payment, html: {id: "payment-form"} do |f| %>
                    <%= f.hidden_field :company_id, value: @company.id %>
                  <div class="col-sm-6">
                    <h2>Your Info</h2>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input class="form-control" id="payment_customer_attributes_customer_email" name="payment[customer_attributes][customer_email]" placeholder="Your Email (For Receipt)" type="text" required autofocus>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input class="form-control" id="payment_customer_attributes_customer_name" name="payment[customer_attributes][customer_name]" placeholder="Your Name" type="text" required>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input class="form-control" id="payment_customer_attributes_address_one" name="payment[customer_attributes][address_one]" placeholder="Address One" type="text" required>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input class="form-control" id="payment_customer_attributes_address_two" name="payment[customer_attributes][address_two]" placeholder="Address Two" type="text">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input class="form-control" id="payment_customer_attributes_city" name="payment[customer_attributes][city]" placeholder="City" type="text" required>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <select class="form-control" id="payment_customer_attributes_state" name="payment[customer_attributes][state]" required="required">
                        <option value="">State</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                      </select>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input class="form-control" id="payment_customer_attributes_postcode" name="payment[customer_attributes][postcode]" placeholder="Zip Code" type="text" required>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input class="form-control" id="payment_customer_attributes_phone maskedPhone" name="payment[customer_attributes][phone]" placeholder="Mobile Phone Number" type="text">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <h2>Payment Info</h2>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <%= f.text_field :invoice_number, placeholder: "Invoice Number", class: "form-control" %>
                    </div>
                    <% if @company.coupons.any? %>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <%= text_field_tag :coupon_code, nil, placeholder: "Coupon Code", class: "form-control" %>
                      </div>
                    <% end %>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <%= f.text_field :amount, data: {autonumeric: true, aSign: 'USD'}, placeholder: "Amount", class: "form-control", required: true %>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input class="form-control" data-stripe="number" maxlength="20" placeholder="Credit Card Number" type="text" required></input>
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input class="form-control" data-stripe="cvc" size="10" placeholder="Security Number" type="text" required></input>
                    </div>
                    <div class="input-group">
                      <ul class="dates">
                        <p>Expiration Date</p>
                        <li><%= select_month(Date.today, {add_month_numbers: true},  class: 'form-control', data: {stripe: "exp-month"}, style: "height: 46px;")%></li>
                        <li><%= select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'form-control', data: {stripe: "exp-year"}, style: "height: 46px;") %></li>
                      </ul>
                    </div>
                  </div>
                    <div class="row">
                      <div class="col-xs-12">
                      <%= f.submit "Submit Payment", class: "btn btn-success col-xs-3 pull-right" %>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- this page specific inline scripts -->
<script>
$(function () {
  $("#maskedPhone").mask("(999) 999-9999");
});
</script>
<%= render 'shared/empty_morris_div' %>