<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey("pk_yljBi4IiWmMlLe3HTOiUzR45aOwke");
  // ...
</script>

<div id="login-full-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div id="signup-box">
					<div class="row">
						<div class="col-xs-12">
							<header id="signup-header">
								<div id="signup-logo">
									<%= image_tag "logo.png" %>
								</div>
							</header>
							<div id="signup-box-inner">
								<%= render 'shared/messages' %>
								<h1>Company Info</h1>
								<div id="myWizard" class="wizard">
									<div class="wizard-inner">
										<ul class="steps">
											<li data-target="#step1" class="active"><span class="badge badge-primary">1</span>Company Info<span class="chevron"></span></li>
											<li data-target="#step2"><span class="badge">2</span>Your Info<span class="chevron"></span></li>
										</ul>
									</div>
								</div><br /><br />
								<%= form_for @company, url: wizard_path, html: {id: "payment-form"} do |f| %>
									<center><h3>Company Info:</h3></center>
									<div class="col-sm-6">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<%= f.text_field :company_name, placeholder: "Company Name", class: "form-control", required: true%>
										</div>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<%= f.text_field :phonenumber, placeholder: "Company Phone Number", class: "form-control", id: "maskedPhone", required: true%>
										</div>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<%= f.text_field :website_url, placeholder: "Website (www.domain.com)", class: "form-control", required: true %>
										</div>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<%= f.text_field :address_one, placeholder: "Address One", class: "form-control", required: true %>
										</div>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<%= f.text_area :description, cols: 20, rows: 4, placeholder: "What do you sell and when do you charge your customers", required: true, class: "form-control" %>
										</div>
										<div class="input-group">
											<h5>Company Logo</h5>
											<%= f.file_field :logo, class: "form-control" %>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
											<%= f.text_field :address_two, placeholder: "Address Two", class: "form-control" %>
										</div>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-lock"></i></span>
											<%= f.text_field :city, placeholder: "City", class: "form-control", required: true %>
										</div>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-lock"></i></span>
											<%= f.select :state, options_for_select(us_states, @company.state), {}, class: "form-control", required: true %>
										</div>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-lock"></i></span>
											<%= f.text_field :postcode, placeholder: "Zip Code", class: "form-control", required: true %>
										</div>
									</div>
									  <br />
									
									  <div class="row">
									  	<div class="col-sm-12">
									  		<center>
									  		<h3>What Plan Do You Want To Sign Up For?</h3>
											<div class="btn-group" data-toggle="buttons">
												<% @plans.each do |p| %>
													<label class="btn btn-primary">
														<%= f.radio_button :companyplan_id, p.id %> <%= p.name.titleize %>
													</label>
												<% end %>
											</div>
											<h3>Payment Info:</h3>
											</center>
											<div class="col-sm-6">
							                    <div class="input-group">
							                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
							                      <input class="form-control" data-stripe="number" maxlength="20" placeholder="Credit Card Number" type="text" required></input>
							                    </div>
							                    <div class="input-group">
							                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
							                      <input class="form-control" data-stripe="cvc" size="10" placeholder="Security Number" type="text" required></input>
							                    </div>
							                </div>
							                <div class="col-sm-6">
							                    <div class="input-group">
							                      <ul class="dates">
							                        <p>Expiration Date</p>
							                        <li><%= select_month(Date.today, {add_month_numbers: true},  class: 'form-control', data: {stripe: "exp-month"}, style: "height: 46px;")%></li>
							                        <li><%= select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'form-control', data: {stripe: "exp-year"}, style: "height: 46px;") %></li>
							                      </ul>
							                    </div>
							                </div>
					                	</div>
					                  </div><br />
									  <div class="row">
										  <div class="col-xs-12">
										  	<center>
										  		<h3>Social Media Listings So We Can Get Reviews For You:</h3>
										  	</center>
										  	<div class="col-sm-6">
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-user"></i></span>
													<%= f.text_field :google, placeholder: "Google+ Listing", class: "form-control" %>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-user"></i></span>
													<%= f.text_field :yelp, placeholder: "Yelp Listing", class: "form-control" %>
												</div>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-lock"></i></span>
													<%= f.text_field :facebook, placeholder: "Facebook Page", class: "form-control" %>
												</div>
						                        <div id="remember-me-wrapper" class="pull-right">
						                          <div class="row">
						                            <div class="col-xs-12">
						                              <div class="checkbox-nice">
						                              	<%= f.check_box :terms, checked: "checked", id: "terms-cond", required: true %>
						                                <label for="terms-cond">
						                                  I accept the <%= link_to "terms and conditions", "/tc", target: "_blank" %>
						                                </label>
						                              </div>
						                            </div>
						                          </div>
						                        </div>
											</div>
										  </div>
									  </div>
									  <div class="row">
										  <div class="col-xs-12">
											<%= f.submit "Create Company", class: "btn btn-success col-xs-3 pull-right" %>
										  </div>
									  </div>
							    <% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- this page specific inline scripts -->
<script>
$(function () {
	$('#myWizard').wizard();
	
	//masked inputs
	$("#maskedDate").mask("99/99/9999");
	$("#maskedPhone").mask("(999) 999-9999");
	$("#maskedPhoneExt").mask("(999) 999-9999? x99999");
});
</script>
<%= render 'shared/empty_morris_div' %>