<%= render 'shared/nav_top' %>
	<div class="row">
		<%= render 'shared/left_nav' %>
		<div id="content-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<%= render 'shared/messages' %>
					<div class="row">
						<div class="col-lg-12">							
							<h1>Create A New Refund</h1>
						</div>
					</div>
					<div class="row" id="user-profile">						
						<div class="col-lg-9 col-md-8 col-sm-8">
							<div class="main-box clearfix">
								<div class="tabs-wrapper profile-tabs">
									<ul class="nav nav-tabs">
										<li class="active"><a href="#tab-newsfeed" data-toggle="tab">Company Info</a></li>
									</ul>
									
									<div class="tab-content">
										<div class="tab-pane fade in active" id="tab-newsfeed">
											<header class="story-header">
												<div class="story-author">
													Payment Amount: <%= number_to_currency(@payment.amount) %>
												</div><br />

												<div class="story-author">
													Customer: <%= mail_to @payment.customer.customer_email, @payment.customer.customer_name, target: "_blank" %>
												</div>

												<div class="story-time pull-right">
													<i class="fa fa-clock-o"></i> Payment Date: <%= @payment.created_at.strftime("%m/%d/%Y") %>
												</div>
											</header><br /><br />
											<%= form_for @refund do |f| %>
												<%= f.hidden_field :payment_id, value: @payment.id %>
												<%= f.hidden_field :user_id, value: @user.id %>
												<%= f.hidden_field :company_id, value: @company.id %>
												<%= f.hidden_field :customer_id, value: @customer.id %>
												<div class="row">
													<div class="col-md-6">
														<%= f.label :amount %>
														<%= f.text_field :amount, data: {autonumeric: true, aSign: 'USD'}, placeholder: number_to_currency(@payment.amount), class: "form-control", required: true %><br />
													</div>
													<div class="col-md-6">
														<%= f.label :reason, "Reason a Refund is Requested" %>
														<%= f.text_field :reason, placeholder: "Customer request because of damage...", class: "form-control", required: true %><br />
													</div>
													<div class="col-md-12">
														<%= f.submit "Create Refund", class: "btn btn-danger pull-right" %>
													</div>
												</div>
											<% end %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		  <%= render 'shared/footer' %>
		</div>
	</div>
</div>
</div>