<div id="login-full-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div id="signup-box">
					<div class="row">
						<div class="col-xs-12">
							<header id="signup-header">
								<div id="login-logo">
									<%= image_tag @company.logo %>
								</div>
							</header>
							<div id="signup-box-inner">
								<%= render 'shared/messages' %>
								<center>
									<h1>We're So Happy You Had a Good Experience With Us!<br /> Would You Mind Sharing It With Your Friends?</h1><br />
									<ul class="socials" %>
										<li><%= link_to image_tag("google.png", size: "150x150"), "http://"+@company.google, target: "_blank" unless !@company.google.present? %></li>
										<li><%= link_to image_tag("yelp.png", size: "150x150"), "http://"+@company.yelp, target: "_blank" unless !@company.yelp.present? %></li>
										<li><%= link_to image_tag("facebook.png", size: "150x150"), "http://"+@company.facebook, target: "_blank" unless !@company.facebook.present? %></li>
										<li><%= image_tag "email.jpg", size: "150x150" %></li>
									</ul>
								</center>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>