<div id="login-full-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div id="signup-box">
					<div class="row">
						<div class="col-xs-12">
							<header id="signup-header">
								<div id="login-logo">
									<%= image_tag @company.logo %>
								</div>
							</header>
							<div id="signup-box-inner">
								<%= render 'shared/messages' %>
								<center>
									<h1>We're Sorry You Had A Bad Experience With Us.<br /> How Can We Make Our Next Interaction a better one?</h1><br />
										<%= form_for @review do |f| %>
											<div class="row">
												<div class="col-xs-12">
													<%= f.text_area :comments, size: "100x8", placeholder: "Please leave us your comments on how we can improve. Thank you!" %>
												</div>
											</div>
						                    <div class="row">
						                      <div class="col-xs-12">
						                    	<%= f.submit "Leave Us Your Comments", class: "btn btn-success" %>
						                      </div>
						                    </div>
										<% end %>
								</center>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>